<section class="primer-fondo hero-block pb-5 position-relative pt-5 text-white-50">
  <div class="col-lg-8 end-0 h-100 position-absolute top-0">
  </div>
  <div class="container pb-5 position-relative pt-5">
    <div class="align-items-center gy-4 row">
      <div class="col-lg-12 text-center textos pb-4">
        <h1 class="display-3 fw-bold text-uppercase titulo-inicial text-white">Tiendas amigas</h1>
        <p class="lead mb-4 text-white pe-sm-5 parrafo">Podes conseguir nuestras cartas en cualquiera de estos puntos de
          venta</p>
      </div>
    </div>
  </div>
</section>

<section class="fondo-gris text-white">
  <div class="container">
    <h1 class="text-center display-text pt-5 pb-5">Tiendas donde podrás conseguir cartas de Lairen</h1>
  </div>

  <div class="container text-center">

    <swiper [slidesPerView]="3" [spaceBetween]="30" [slidesPerGroup]="3" [loop]="true" [loopFillGroupWithBlank]="true"
      [pagination]="{clickable: true}" [navigation]="true" class="mySwiper">
      <ng-template swiperSlide>
          <img class="imagenClickeable" (click)="mostrarRefugio()" src="../../../assets/images/refugiologo2.png" alt="el refugio store">
      </ng-template>
      <ng-template swiperSlide>
          <img class="imagenClickeable" (click)="mostrarZ()" src="../../../assets/images/magicz.png" alt="magic z">
      </ng-template>
      <ng-template swiperSlide>
          <img class="imagenClickeable" (click)="mostrarLair()" src="../../../assets/images/magiclair.png" alt="magic lair">
      </ng-template>

    </swiper>

  </div>
</section>
