<section class="primer-fondo hero-block pb-5 position-relative pt-5 text-white-50">
  <div class="col-lg-8 end-0 h-100 position-absolute top-0">
  </div>
  <div class="container pb-5 position-relative pt-5">
    <div class="align-items-center gy-4 row">
      <div class="col-lg-12 text-center textos pb-4">
        <h1 class="display-3 fw-bold text-uppercase titulo-inicial text-white">Tiendas amigas</h1>
        <p class="lead mb-4 text-white pe-sm-5 parrafo">Podes conseguir nuestras cartas en cualquiera de estos puntos de
          venta</p>
      </div>
    </div>
  </div>
</section>

<section class="fondo-gris text-white">
  <div class="container">
    <h1 class="text-center display-text pt-5 pb-5">Tiendas donde podrás conseguir cartas de Lairen</h1>
  </div>

  <div class="container text-center text-white">
    <div class="row justify-content-center">
      <div class="col-12 col-sm-6 col-lg-4 mb-4 d-flex justify-content-between" (click)="mostrarTiendasPorPais('ARGENTINA')">
        <div class="portadaDeck">
          <img src="../../../assets/images/flagargentina.webp">
          <div class="overlay"></div>
          <div class="text-container">
            <h4>Argentina</h4>
          </div>
        </div>
      </div>

      <!-- <div class="col-12 col-sm-6 col-lg-4 mb-4" (click)="mostrarTiendasPorPais('MEXICO')">
        <div class="portadaDeck">
          <img src="../../../assets/images/flagmexico.webp">
          <div class="overlay"></div>
          <div class="text-container">
            <h4>México</h4>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-6 col-lg-4 mb-4" (click)="mostrarTiendasPorPais('COSTA RICA')">
        <div class="portadaDeck">
          <img src="../../../assets/images/flagcostarica.webp">
          <div class="overlay"></div>
          <div class="text-container">
            <h4>Costa Rica</h4>
          </div>
        </div>
      </div> -->

    </div>
  </div>


  <div class="container text-center text-white">
    <div *ngIf="tiendasSeleccionadas" class="row justify-content-center mt-3 ">
      <h2>TIENDAS DE {{tiendasSeleccionadas[0].paisTienda}} </h2>
      <div *ngFor="let tienda of tiendasSeleccionadas"  class="col-12 col-sm-9 col-lg-4 col-xl-4 mt-5 mb-4">
        <div>
          <img (click)="mostrarDatosTienda(tienda)" width="300" [alt]="tienda.nombreTienda" [src]=tienda.logoTienda>
        </div>

      </div>
    </div>
  </div>

</section>
