<section class="primer-fondo hero-block pb-5 position-relative pt-5 text-white-50">
  <div class="col-lg-8 end-0 h-100 position-absolute top-0">
  </div>
  <div class="container pb-5 position-relative pt-5">
    <div class="align-items-center gy-4 row">
      <div class="col-lg-12 text-center textos pb-4">
        <h1 class="display-3 fw-bold text-uppercase titulo-inicial text-white">Material gráfico de marketing</h1>
        <p class="lead mb-4 text-white pe-sm-5 parrafo">En esta sección podrás descargar todo el material gráfico oficial de Lairen para promocionar nuestro juego en tu tienda y sus redes!</p>
      </div>
    </div>
  </div>
</section>

<section class="fondo-gris text-center pb-5 text-white">

  <div class="container pt-4 pb-4">
    <div class="text-center mb-4">
      <h2>Hace click en uno para descargar!</h2>
      <h4>Encontrarás un archivo .rar que contiene imágenes e información para que puedas usar</h4>
      <hr>
    </div>


    <div class="container text-center text-white">
      <div class="row justify-content-center">

        <div class="col-12 col-sm-6 col-lg-4 mb-4 d-flex justify-content-between">
          <a class="portadaDeck logo" href="../../../assets/descargables/logo de lairen.rar" download="logo de lairen.rar">
            <img src="../../../assets/images/lairenlogo.png">
            <div class="overlay"></div>
            <div class="text-container">
              <h4>Logo</h4>
            </div>
          </a>
        </div>

        <div class="col-12 col-sm-6 col-lg-4 mb-4 d-flex justify-content-between">
          <a class="portadaDeck" href="../../../assets/descargables/Fundamentos (colección inicial).rar" download="Fundamentos (colección inicial).rar">
            <img src="https://i.postimg.cc/JhSRrqf9/Aixa-1.jpg">
            <div class="overlay"></div>
            <div class="text-container">
              <h4>Productos de Fundamentos</h4>
            </div>
          </a>
        </div>

        <div class="col-12 col-sm-6 col-lg-4 mb-4 d-flex justify-content-between">
          <a class="portadaDeck" href="../../../assets/descargables/Pacto Secreto (1° expansión).rar" download="Pacto Secreto (1° expansión).rar">
            <img src="https://i.postimg.cc/rmCwFHSK/Sombra-del-desierto.jpg">
            <div class="overlay"></div>
            <div class="text-container">
              <h4>Productos de Pacto Secreto</h4>
            </div>
          </a>
        </div>

        <div class="col-12 col-sm-6 col-lg-4 mb-4 d-flex justify-content-between">
          <a class="portadaDeck" href="../../../assets/descargables/Trono Compartido (2° expansión - 3° set).rar" download="Trono Compartido (2° expansión - 3° set).rar">
            <img src="https://i.postimg.cc/Qdnd7BVb/artwork-52.png">
            <div class="overlay"></div>
            <div class="text-container">
              <h4>Productos de Trono Compartido</h4>
            </div>
          </a>
        </div>

        <div class="col-12 col-sm-6 col-lg-4 mb-4 d-flex justify-content-between">
          <a class="portadaDeck" href="../../../assets/descargables/Mazo dual 2 jugadores.rar" download="Mazo dual (2 jugadores).rar">
            <img src="https://i.postimg.cc/wMhwHR7k/frente-1.png">
            <div class="overlay"></div>
            <div class="text-container">
              <h4>Mazo dual - 2 Jugadores</h4>
            </div>
          </a>
        </div>

        <div class="col-12 col-sm-6 col-lg-4 mb-4 d-flex justify-content-between">
          <a class="portadaDeck" href="../../../assets/descargables/artefundamentos.zip" download="Arte de Fundamentos.rar">
            <img src="https://i.postimg.cc/cJXCzF3T/Pricionero-de-guerra.jpg">
            <div class="overlay"></div>
            <div class="text-container">
              <h4>Arte de Fundamentos</h4>
            </div>
          </a>
        </div>

        <div class="col-12 col-sm-6 col-lg-4 mb-4 d-flex justify-content-between">
          <a class="portadaDeck" href="../../../assets/descargables/arte de pacto.rar" download="Arte de Pacto Secreto.rar">
            <img src="https://i.postimg.cc/0NWmSkV8/Rey-graden.png">
            <div class="overlay"></div>
            <div class="text-container">
              <h4>Arte de Pacto Secreto</h4>
            </div>
          </a>
        </div>

        <div class="col-12 col-sm-6 col-lg-4 mb-4 d-flex justify-content-between">
          <a class="portadaDeck" href="../../../assets/descargables/Arte Trono Compartido.rar" download="Arte de Trono Compartido.rar">
            <img src="https://i.postimg.cc/SKhwmYSy/Maravilla-aterradora.jpg">
            <div class="overlay"></div>
            <div class="text-container">
              <h4>Arte de Trono Compartido</h4>
            </div>
          </a>
        </div>

        <div class="col-12 col-sm-6 col-lg-4 mb-4 d-flex justify-content-between">
          <a class="portadaDeck" target="_blank" href="https://drive.google.com/drive/folders/1T_q7V1swTbS_9qd1tWBx9Y7u1RfHAhGQ?usp=sharing">
            <img src="https://i.postimg.cc/xC5XDVm8/2786390827-plague-doctor-in-battle-the-lord-of-the-ring-art-1.png">
            <div class="overlay"></div>
            <div class="text-container">
              <h4>Diseño de ropa</h4>
            </div>
          </a>
        </div>

      </div>
    </div>

  </div>
  </section>
