  <section class="primer-fondo hero-block pb-5 position-relative pt-5 text-white-50">
    <div class="overlay">
      <div class="col-lg-8 end-0 h-100 position-absolute top-0">
      </div>
      <div class="container pb-5 position-relative pt-5">
        <div class="align-items-center gy-4 row">
          <div class="col-lg-12 text-center textos pb-4">
            <h1 class="display-3 fw-bold text-uppercase titulo-inicial text-white">Creador de decklist</h1>
            <p class="lead mb-4 text-white pe-sm-5 parrafo">Aquí podras crear una decklist usando todas las cartas de
              Lairen</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="row">

    <section class="separador-vertical fondo-gris text-white pb-5 col order-3 order-sm-1">

      <div class="container text-center">
        <h2 class="text-center display-text mt-4 mb-4">Importar decklist</h2>
        <div class="container">
          <textarea [(ngModel)]="textoEntrada" class="textarea" placeholder="Pega la lista aquí"></textarea>
        </div>
        <button (click)="procesarTexto()" class="btn btn-warning">Procesar</button>

        <h2 class="text-center display-text mt-4 mb-4">Buscador de cartas</h2>

        <div class="m-3">
          <input [(ngModel)]="searchText" placeholder="Ingrese el nombre de la carta que quieres buscar..."
            (ngModelChange)="searchText = $event.toUpperCase()" name="buscadorNombre" type="text" id="buscadorNombre"
            class="formulario-input bg-light form-control " />
          <button (click)="searchByText()" class="btn btn-outline-warning mt-3">Buscar por nombre</button>
        </div>

        <h5 class="mt-4 mb-4" >Ó puedes buscar seleccionando los siguientes filtros:</h5>

        <div class="mb-5 row justify-content-center align-items-center">

          <!-- Primera columna: Expansión, Rareza, Coste -->
          <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-3">

            <!-- Filtro de expansión -->
            <div class="form-group">
              <h4 class="mt-2 mb-2">Expansiones</h4>
              <select [(ngModel)]="selectedExpansion" (change)="onExpansionChange(selectedExpansion)">
                <option value="0">Deseleccionar</option>
                <option *ngFor="let expa of expansiones | async" [value]="expa.idExpansion">{{expa.nombreExpansion}}</option>
              </select>
            </div>

            <!-- Filtro de rareza -->
            <div class="form-group">
              <h4 class="mt-2 mb-2">Rarezas</h4>
              <select [(ngModel)]="selectedRareza" (change)="onRarezaChange(selectedRareza)">
                <option value="0">Deseleccionar</option>
                <option *ngFor="let rare of rarezas" [value]="rare.idRareza">{{rare.nombreRareza}}</option>
              </select>
            </div>

            <div class="form-group">
              <h4 class="mt-2 mb-2">Coste</h4>
              <select [(ngModel)]="selectedCoste" (change)="onCosteChange(selectedCoste)">
                <option value="0">Deseleccionar</option>
                <option *ngFor="let coste of costes" [value]="coste">{{coste}}</option>
              </select>
            </div>

          </div>

          <!-- Segunda columna: Tipo, SubTipo1, SubTipo2, SubTipo3 -->
          <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-3">

            <!-- Filtro de tipo -->
            <div class="form-group">
              <h4 class="mt-2 mb-2">Tipos</h4>
              <select [(ngModel)]="selectedTipo" (change)="onTipoChange(selectedTipo)">
                <option value="0">Deseleccionar</option>
                <option *ngFor="let type of tipos" [value]="type.idTipo">{{type.nombreTipo}}</option>
              </select>
            </div>

            <!-- Filtros de subtipo -->
            <div class="form-group">
              <h4 class="mt-2 mb-2">SubTipos</h4>
              <select [(ngModel)]="selectedSubTipo" (change)="onSubTipoChange(selectedSubTipo)">
                <option value="0">Deseleccionar</option>
                <option *ngFor="let subtype of subtipos" [value]="subtype.idSubTipo">{{subtype.nombreSubTipo}}</option>
              </select>
            </div>
            <div class="form-group">
              <h4 class="mt-2 mb-2">SubTipos</h4>
              <select [(ngModel)]="selectedSubTipo2" (change)="onSubTipo2Change(selectedSubTipo2)">
                <option value="0">Deseleccionar</option>
                <option *ngFor="let subtype of subtipos" [value]="subtype.idSubTipo">{{subtype.nombreSubTipo}}</option>
              </select>
            </div>
            <div class="form-group">
              <h4 class="mt-2 mb-2">Supertipo</h4>
              <select [(ngModel)]="selectedSubTipo3" (change)="onSubTipo3Change(selectedSubTipo3)">
                <option value="0">Deseleccionar</option>
                <option *ngFor="let supertype of supertipo" [value]="supertype.idSubTipo">{{supertype.nombreSubTipo}}</option>
              </select>
            </div>

          </div>

        </div>

        <section class="section section-xl text-center card-seccion">
          <div class="container">
            <div class="card-grid">
              <div *ngFor="let carta of filteredCartas">
                <img (click)="agregarCarta(carta)" class="carta" [lazyLoad]="carta.urlImagen"
                  (onLoad)="onImageLoad($event)" [alt]="carta.nombreCarta">
              </div>
            </div>
          </div>
        </section>


        <section *ngIf="selectedRareza === null && selectedExpansion === null && selectedTipo === null
        && selectedSubTipo === null && selectedSubTipo2 === null && selectedSubTipo3 === null && selectedCoste === null
        && (searchText === '' || searchText === null)" class="section section-xl text-center card-seccion">
          <div class="container">
            <div class="card-grid">
              <div *ngFor="let card of cartas">
                <img (click)="agregarCarta(card)" class="carta" [lazyLoad]="card.urlImagen"
                  (onLoad)="onImageLoad($event)" [alt]="card.nombreCarta">
              </div>
            </div>
          </div>
        </section>

        <section *ngIf="filteredCartas.length === 0 &&
        (selectedRareza || selectedExpansion || selectedTipo || selectedSubTipo || selectedSubTipo2 || selectedSubTipo3
        || selectedCoste || searchText)" class="section section-xl text-center card-seccion">
          <h2>No se han encontrado cartas con los filtros seleccionados.</h2>
        </section>

      </div>
    </section>

    <section class="seccion fondo-gris text-white pb-5 col order-2 order-sm-2">
      <div class="container">
        <h1 class="text-center display-text pt-5">Decklist</h1>
        <h2 class="text-center display-text pt-2 pb-3" *ngIf="deck != null" > {{deck.nombreDecklist | uppercase}} </h2>
      </div>

      <h2 class="text-center mt-4 mb-2">Reino: <span class="font-italic">(total: {{getTotalCartas(reino)}})</span></h2>
      <div *ngFor="let carta of getCartasUnicas(reino)"
        class="container text-center d-flex align-items-center justify-content-center">
        <ng-container *ngIf="carta.tipo.nombreTipo != 'TESORO' && carta.tipo.nombreTipo != 'TESORO - SAGRADO' ">
          <p class="mb-0 me-3">{{carta.nombreCarta}} x{{getCantidad(carta, reino)}}</p>
          <button (click)="eliminarCarta(carta, reino)" class="btn btn-danger mb-2 ms-4">Eliminar</button>
        </ng-container>
      </div>

      <h2 class="text-center mt-5 mb-2">Bóveda: <span class="font-italic">(total: {{getTotalCartas(boveda)}})</span>
      </h2>
      <div *ngFor="let carta of getCartasUnicas(boveda)"
        class="container text-center d-flex align-items-center justify-content-center">
        <ng-container *ngIf="carta.tipo.nombreTipo == 'TESORO' || carta.tipo.nombreTipo == 'TESORO - SAGRADO' ">
          <p class="mb-0 me-3">{{carta.nombreCarta}} x{{getCantidad(carta, boveda)}}</p>
          <button (click)="eliminarCarta(carta, boveda)" class="btn btn-danger mb-2 ms-4">Eliminar</button>
        </ng-container>
      </div>

      <div class="container d-flex align-items-center justify-content-center">
        <button *ngIf="banderaLista" (click)="switchearEntreMainAndSidedeck()" class="btn btn-primary mb-2 mt-5">
          Agregar cartas al Sidedeck
        </button>
        <button *ngIf="!banderaLista" (click)="switchearEntreMainAndSidedeck()" class="btn btn-primary mb-2 mt-5">
          Agregar cartas al mazo principal
        </button>
      </div>

      <h2 class="text-center mt-5 mb-2">Side deck: <span class="font-italic">(total:
          {{getTotalCartas(sidedeck)}})</span></h2>
      <div *ngFor="let carta of getCartasUnicas(sidedeck)"
        class="container text-center d-flex align-items-center justify-content-center">
        <ng-container>
          <p class="mb-0 me-3">{{carta.nombreCarta}} x{{getCantidad(carta, sidedeck)}}</p>
          <button (click)="eliminarCarta(carta, sidedeck)" class="btn btn-danger mb-2 ms-4">Eliminar</button>
        </ng-container>
      </div>

      <div class="container d-flex align-items-center justify-content-center">
        <button (click)="copyToClipboard()" class="btn btn-warning mb-2 mt-5">Copiar al portapapeles</button>
      </div>
      <div class="container d-flex align-items-center justify-content-center">
        <button (click)="guardarDecklist()" class="btn btn-success mb-2 mt-5">Guardar decklist</button>
      </div>

      <div class="container d-flex align-items-center justify-content-center">

        <button *ngIf="!banderaImagenGenerada" (click)="generarImagen()" class="btn btn-warning mb-2 mt-5">
          Generar imagen de decklist
        </button>

        <button *ngIf="banderaImagenGenerada" class="btn btn-warning mb-2 mt-5">
          <a [href]="imagenCombinada" download="imagenCombinada.jpg">
            Descargar imagen generada
          </a>
        </button>
      </div>

      <div class="container d-flex align-items-center justify-content-center">
        <button (click)="repartirMano()" class="btn btn-success mb-2 mt-5">
          Probar mano inicial
        </button>
      </div>

      <div *ngIf="mano && mano.length > 0" class="mano-container">
        <div *ngFor="let hand of mano">
          <img class="carta" [lazyLoad]="hand.urlImagen" [alt]="hand.nombreCarta">
        </div>
      </div>

      <div class="container d-flex align-items-center justify-content-center">
        <button (click)="ejecutarSiEsPosible()" class="btn btn-warning mb-2 mt-5">
          Simular 1000 robos
        </button>
      </div>

      <app-image-generator
          #imageGenerator
          [reino]="reino"
          (imageGenerated)="onImageGenerated($event)">
      </app-image-generator>

      <app-image-boveda-deck
        #imageBoveda
        [boveda]="boveda"
        (imageGenerated)="onImageGeneratedBoveda($event)">
      </app-image-boveda-deck>

      <app-image-sidedeck
        #imageSideDeck
        [sidedeck]="sidedeck"
        (imageGenerated)="onImageGeneratedSideDeck($event)">
      </app-image-sidedeck>

      <section *ngIf="imagenCombinada" class="separador-vertical fondo-gris text-white pb-5 col order-1 order-sm-3">
        <img *ngIf="!esMovil" class="mt-4 mb-4 imagenGenerada"  [src]="imagenCombinada" alt="Imagen Combinada">
      </section>

    </section>



  </div>
