<section class="primer-fondo hero-block pb-5 position-relative pt-5 text-white-50">
  <div class="col-lg-8 end-0 h-100 position-absolute top-0">
  </div>
  <div class="container pb-5 position-relative pt-5">
    <div class="align-items-center gy-4 row">
      <div class="col-lg-12 text-center textos pb-4">
        <h1 class="display-3 fw-bold text-uppercase titulo-inicial text-white">{{carta.nombreCarta}}</h1>
        <p class="lead mb-4 text-white pe-sm-5 parrafo">Toda la información que necesitas sobre esta carta se encuentra aquí</p>
      </div>
    </div>
  </div>
</section>

<section class="fondo-gris">


  <div class="container">

    <div class="text-center pt-5 " >
      <button class="btn btn-warning " (click)="regresarAlBuscador()" ><i class="fas fa-arrow-left"></i> Regresar</button>
    </div>

    <div class="row align-items-center justify-content-center mb-5 pb-5 pt-5">

      <div class="col-md-4 text-center">
        <img class="carta img-fluid" [lazyLoad]="carta.urlImagen" [alt]="carta.nombreCarta">
      </div>


      <div class="col-md-4 text-white pt-4 pb-4 cajaTexto">

        <div class="mb-3">
          <h4>Nombre de carta: {{carta.nombreCarta}}</h4>
        </div>

        <div class="mb-3">
          <h5>
            Tipo de carta: {{carta?.tipo?.nombreTipo}}
          </h5>
        </div>

        <div class="mb-3">
          <h5>
            Subtipo: {{carta?.subtipo?.nombreSubTipo}}
          </h5>
        </div>

        <div class="mb-3">
          <h5 *ngIf="carta.subtipo2">
            Segundo Subtipo: {{carta?.subtipo2?.nombreSubTipo}}
          </h5>
        </div>

        <div class="mb-3">
          <h5 *ngIf="carta.subtipo3">
            Supertipo: {{carta?.subtipo3?.nombreSubTipo}}
          </h5>
        </div>

        <div class="mb-3">
          <h5 *ngIf="carta.tipo?.nombreTipo != 'TESORO'">
            Coste: {{carta.costeCarta}}
          </h5>
        </div>

        <div class="mb-3">
          <h5>
            Texto de carta: {{carta.textoCarta}}
          </h5>
        </div>

        <div *ngIf="carta.flavorCarta" class="mb-3">
          <h5>
            Texto de ambientación: {{carta.flavorCarta}}
          </h5>
        </div>

        <div class="mb-3">
          <h5>
            Expansión: {{carta.expansion.nombreExpansion}}
          </h5>
        </div>

        <div class="mb-3">
          <h5>
            Rareza: {{carta.rareza.nombreRareza}}
          </h5>
        </div>

        <div class="mb-3">
          <h5 *ngIf="!carta.rulingCarta">
            Ruling: No hay comentarios sobre esta carta en este momento.
          </h5>
          <h5 *ngIf="carta.rulingCarta">
            Ruling: {{carta.rulingCarta}}
          </h5>
        </div>

      </div>
    </div>

    <div class="col text-center text-white pb-5 ">
      <h3 >Otras versiones impresas de {{carta.nombreCarta}}</h3>
      <h4 *ngIf="!carta.urlImagen1 && !carta.urlImagen2 && !carta.urlImagen3" >No existen otras versiones de esta carta.</h4>
      <img *ngIf="carta.urlImagen1" class="cartaAlter img-fluid" [lazyLoad]="carta.urlImagen1" [alt]="carta.nombreCarta">
      <img *ngIf="carta.urlImagen2" class="cartaAlter img-fluid" [lazyLoad]="carta.urlImagen2" [alt]="carta.nombreCarta">
      <img *ngIf="carta.urlImagen3" class="cartaAlter img-fluid" [lazyLoad]="carta.urlImagen3" [alt]="carta.nombreCarta">
      <img *ngIf="carta.urlImagen4" class="cartaAlter img-fluid" [lazyLoad]="carta.urlImagen4" [alt]="carta.nombreCarta">
      <img *ngIf="carta.urlImagen5" class="cartaAlter img-fluid" [lazyLoad]="carta.urlImagen5" [alt]="carta.nombreCarta">
      <img *ngIf="carta.urlImagen6" class="cartaAlter img-fluid" [lazyLoad]="carta.urlImagen6" [alt]="carta.nombreCarta">
      <img *ngIf="carta.urlImagen7" class="cartaAlter img-fluid" [lazyLoad]="carta.urlImagen7" [alt]="carta.nombreCarta">
      <img *ngIf="carta.urlImagen8" class="cartaAlter img-fluid" [lazyLoad]="carta.urlImagen8" [alt]="carta.nombreCarta">
      <img *ngIf="carta.urlImagen9" class="cartaAlter img-fluid" [lazyLoad]="carta.urlImagen9" [alt]="carta.nombreCarta">
      <img *ngIf="carta.urlImagen10" class="cartaAlter img-fluid" [lazyLoad]="carta.urlImagen10" [alt]="carta.nombreCarta">
    </div>

  </div>




</section>
