.fondo-gris{
  background-color: #2e3031;
}

.primer-fondo {
  background-image: linear-gradient(rgba(14, 13, 13, 0.8), rgba(11, 11, 11, 0.6)), url(../../../assets/images/bibilcelular.webp);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 70vh;
  background-attachment: fixed;
}

@media (min-width: 250px) and (max-width: 1550px) {
  .primer-fondo {
    background-position: center bottom;
  }
}

.textos {
  margin-top: 160px;
}

.header-image {
  max-height: 500px;
}

.titulo-inicial {
  text-shadow: -1px 2px 5px rgba(0,0,0,0.68);
  margin-top: 30px;
}

.parrafo{
  font-size: 20px;
  font-weight: bolder;
  text-shadow: -1px 2px 5px rgba(0,0,0,0.88);
}

a {
  color: black !important;
}

.card-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-grid > div {
  flex-basis: calc(50% - 20px); /* 50% para 2 elementos por fila y 20px de espacio entre elementos */
  margin: 10px; /* 10px alrededor de cada elemento, lo que dará un total de 20px entre elementos */
}

@media (min-width: 992px) { /* Punto de interrupción para pantallas grandes (lg) */
  .card-grid > div {
    flex-basis: calc(20% - 20px); /* 20% para 5 elementos por fila y 20px de espacio entre elementos */
  }
}

.carta {
  max-height: 400px;
  border-radius: 1rem;
}

.cartaAlter {
  max-height: 300px;
  border-radius: 1rem;
  margin: 15px;
}

.cajaTexto {
  background-color: #242424;
  border: 1px solid white;
  margin-top: 15px;
}



