<body>
  <nav class="navbar navbar-expand-lg">
    <div class="container">

      <!-- Sección del logo e íconos -->
      <div class="logo-and-icons">
        <a class="navbar-brand" href="#"><img src="../../../assets/images/LOGO/logoverdecompleto.webp" alt="RepuestosCelu"
          style="width: 350px;"></a>
        <ul class="navbar-nav nav-icons ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="#"><i class="fas fa-shopping-cart icono-personalizado"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><i class="fas fa-heart icono-personalizado"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><i class="fas fa-user icono-personalizado"></i></a>
          </li>
        </ul>

      </div>

      <!-- Input de búsqueda en su propio contenedor -->
      <div class="search-input-container">
        <div class="search-input">
          <input type="search" class="form-control" placeholder="¿Qué estás buscando?">
          <i class="icono-lupa fas fa-search search-icon"></i>
        </div>
      </div>

      <!-- Sección de enlaces de navegación -->
      <div class="nav-links-container mt-3 mb-3">
        <div class="navbar-nav">
          <a class="nav-item nav-link text-dark" href="#"><b>Inicio</b></a>
          <a class="nav-item nav-link text-dark" href="#"><b>Nosotros</b></a>
          <a class="nav-item nav-link text-dark" href="#"><b>FAQs</b></a>
          <a class="nav-item nav-link text-dark" href="#"><b>Sucursales</b></a>
        </div>
      </div>
    </div>
  </nav>
</body>




<!-- <a class="navbar-brand" href="#"><img width="400" src="../../../assets/images/LOGO/Verde horizontal.png" alt="RepuestosCelu"></a> -->
