<body>
  <nav class="navbar navbar-expand-lg">
    <div class="container">

      <div class="logo-and-icons">
        <a class="navbar-brand" href="#"><img src="../../../assets/images/LOGO/logoverdecompleto.webp"
            alt="RepuestosCelu" style="width: 350px;"></a>
        <ul class="navbar-nav nav-icons ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="#"><i class="fas fa-shopping-cart icono-personalizado"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><i class="fas fa-heart icono-personalizado"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><i class="fas fa-user icono-personalizado"></i></a>
          </li>
        </ul>
      </div>

      <div class="search-input-container">
        <div class="search-input">
          <input type="search" class="form-control" placeholder="¿Qué estás buscando?">
          <i class="icono-lupa fas fa-search search-icon"></i>
        </div>
      </div>

      <div class="search-input-container mt-3" id="navbarResponsive">
        <div class="search-input-container-productos" >

          <span class="ps-3" >
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <button class="btn btn-success menu-button" (click)="toggleMenu()">
              <i class="fas fa-bars me-2"></i> Productos
            </button>
          </span>

          <div class="center-container pe-5">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="#"><b>Inicio</b></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"><b>Nosotros</b></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"><b>FAQs</b></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"><b>Sucursales</b></a>
              </li>
            </ul>
          </div>


        </div>



      </div>
    </div>

  </nav>
</body>


<!-- <a class="navbar-brand" href="#"><img width="400" src="../../../assets/images/LOGO/Verde horizontal.png" alt="RepuestosCelu"></a> -->
