body {
  background-color: #eaeaea;
}

.container {
  display: flex;
  flex-direction: column; /* Cambia la dirección del flex a columna para apilar los elementos */
  align-items: center; /* Centra los elementos horizontalmente */
}

.logo-and-icons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-input-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.search-input {
  position: relative;
  max-width: 500px;
}

.search-input input {
  width: 100%;
  padding-right: 40px; /* Asegura espacio para el ícono de la lupa */
}

.search-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.nav-links-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.navbar-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-item:not(:last-child) {
  margin-right: 20px;
}
