
body {
  background-color: #eaeaea;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar-nav {
  display: flex;
  justify-content: center; /* Mantiene los elementos de la lista centrados */
  list-style-type: none; /* Elimina los marcadores de lista */
  padding: 0; /* Elimina el padding por defecto de la `ul` */
  margin: 0; /* Opcional: Ajusta el margen si es necesario */
}

.nav-item {
  margin: 0 10px; /* Ajusta el espaciado entre elementos de la lista */
}

.logo-and-icons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icono-ubicacion {
  width: 40px;
  height: 40px;
  margin-left: 10px;
}
.icono-ubicacion:hover {
  cursor: pointer;
}

.search-input-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.search-input-container-productos {
  width: 100%;
  display: flex;
  justify-content: space-between; /* Esto separa los elementos a los extremos y al centro */
  align-items: center;
  position: relative;
}

.search-input {
  position: relative;
  max-width: 600px;
}

.search-input input {
  width: 100%;
  padding-right: 250px;
  border-radius: 20px;
}

.search-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.center-container {
  display: flex; /* Habilita flexbox para este contenedor */
  justify-content: center; /* Centra sus elementos (en este caso, la `ul`) */
  flex-grow: 1; /* Permite que el contenedor crezca para ocupar el espacio disponible */
}

.menu-button {
  background-color: #4a933c;
  border: none;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s;
}

.menu-button:hover {
  background-color: #1e603a;
}

.menu-wrapper {
  position: relative; /* Este contenedor maneja el posicionamiento del menú desplegable */
}

.menu-container {
  position: absolute;
  top: 30%; /* Asegúrate de que esto sea suficiente para que el menú aparezca justo debajo del botón */
  left: 0;
  width: 220px;
  height: 0;
  border-radius: 0.7rem;
  background-color: rgb(178, 178, 178);
  z-index: 1000;
  overflow: hidden;
  transition: height 0.5s ease;
}

.menu-container.visible {
  height: 250px; /* La altura final deseada */
}

.button-placeholder {
  display: block;
  width: 125px; /* Igual al ancho del botón */

}

.activeLink {
  text-decoration: underline !important; /* Utiliza !important para asegurar que el estilo se aplique sobre otros estilos por defecto */
  color: #1e603a;
}

.navbar-nav-desplegable {
  width: 100%; /* Asegura que la lista ocupe todo el ancho del contenedor */
  list-style-type: none; /* Elimina los marcadores de la lista */
  padding: 0; /* Elimina el padding por defecto */
  margin: 0; /* Elimina el margen por defecto */
}

.nav-item-desplegable {
  text-align: center; /* Centra el texto de los ítems */
  width: 100%; /* Hace que cada ítem ocupe todo el ancho del contenedor */
  margin-top: 15px;
}

.nav-link-desplegable {
  display: block; /* Hace que los enlaces ocupen todo el ancho de su contenedor */
  text-decoration: none;
  color: #0c0c0c;
  text-transform: uppercase;
}
.nav-link:hover {
  cursor: pointer;
}


.menu-categorias-container {
  position: absolute;
  top: 12px;
  left: 195px;
  width: 200px;
  height: 0;
  border-radius: 0.7rem;
  background-color: rgb(197, 197, 197);
  z-index: 1000;
  overflow: hidden;
  transition: height 0.5s ease;
}

.menu-categorias-container.visible {
  height: 160px; /* Altura final deseada */
}

.menu-repuestos-container {
  position: absolute;
  top: 12px;
  left: 380px;
  width: 200px;
  height: 0;
  border-radius: 0.7rem;
  background-color: rgb(225, 225, 225);
  z-index: 1000;
  overflow: hidden;
  transition: height 0.5s ease;
}

.menu-repuestos-container.visible {
  height: 470px; /* Altura final deseada */
}

.menu-accesorios-container {
  position: absolute;
  top: 12px;
  left: 380px;
  width: 200px;
  height: 0;
  border-radius: 0.7rem;
  background-color: rgb(225, 225, 225);
  z-index: 1000;
  overflow: hidden;
  transition: height 0.5s ease;
}

.menu-accesorios-container.visible {
  height: 400px; /* Altura final deseada */
}

.titulocategoria {
  color: #316040;
  font-weight: bold;
  text-decoration: underline;
}


.icono-lupa {
  color: #23462e;
  font-size: 20px;
}
.icono-lupa:hover {
  cursor: pointer;
}

.logorepuesto {
  width: 350px;
}

@media (max-width: 500px) {
  .logorepuesto {
    width: 170px;
  }

  .nav-icons {
    flex-grow: 1; /* Esto permite que el ul crezca para usar cualquier espacio disponible */
  }

  .nav-item {
    margin: 0 5px; /* Reduce los márgenes entre íconos */
  }

  .navbar-nav {
    flex-direction: row; /* Esto asegura que los nav-items estén en línea */
    justify-content: flex-end; /* Alinea los ítems al final del contenedor */
    flex-grow: 1; /* Permite que la navbar-nav crezca para usar cualquier espacio disponible */
  }

  .icono-personalizado {
    width: 30px;
    margin-left: 7px;
  }

  .icono-ubicacion {
    margin-top: 10px;
  }

  .search-input input {
    padding-right: 80px;
    margin-top: 10px;
  }

  .search-icon {
    top: 60%;
  }

  .center-container {
    flex-wrap: wrap; /* Permite que los elementos se ajusten en líneas adicionales según sea necesario */
    justify-content: flex-start; /* Opcional: Alinea los elementos al inicio del contenedor en móviles */
  }

  .cuatroElementos {
    font-size: 11px;
  }
  .Puntosdeventa{
    display: none !important;
  }

  .menu-button {
    font-size: 0.6rem;
    margin-right: 5px;

  }

}








