

.banner {
  border-radius:0.7rem;
}

.banner:hover {
  cursor: pointer;
}

.swiper-container {
  /* Asegúrate de que .swiper-container tenga un ancho específico si es necesario */
  width: 100%;
  height: auto; /* O un valor específico que prefieras */
}

.swiper-slide {
  /* Propiedades de estilo para las diapositivas individuales */
  height: auto; /* O un valor específico que prefieras */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Si aún ves múltiples slides, intenta establecer un ancho mínimo aquí */
.swiper-slide {
  width: 100%; /* Ajuste para la visualización de una sola diapositiva a la vez */
}

@media (max-width: 500px) {
  .swiper-container {
    height: auto; /* Puedes reducir esta altura si las imágenes son demasiado grandes */
  }

  .swiper-slide {
    height: auto; /* Ajusta la altura según sea necesario para móviles */
  }

  .banner {
    height: auto; /* Esto ajustará la altura de la imagen para mantener la proporción */
    max-height: 200px; /* Ajusta esto a la altura máxima deseada para móviles */
    width: 95%;
    margin-top: -20px !important;
  }
}




