<div class="swiper mySwiperBanner pt-5" id="miSwiperBanner">
  <div class="swiper-wrapper">
    <div class="swiper-slide"><img class="banner" src="../../../../assets/images/banners/Banner (3).jpg" alt="Banner 1"></div>
    <div class="swiper-slide"><img class="banner" src="../../../../assets/images/banners/Banner (2).jpg" alt="Banner 2"></div>
    <div class="swiper-slide"><img class="banner" src="../../../../assets/images/banners/Banner (1).jpg" alt="Banner 3"></div>
  </div>
  <div class="swiper-pagination"></div>
</div>
