<!-- <section class="primer-fondo hero-block pb-5 position-relative pt-5 text-white-50">
  <div class="col-lg-8 end-0 h-100 position-absolute top-0">
  </div>
  <div class="container pb-5 position-relative pt-5">
    <div class="align-items-center gy-4 row">
      <div class="col-lg-12 text-center textos pb-4">
        <h1 class="display-3 fw-bold text-uppercase titulo-inicial text-white">Las últimas noticias</h1>
        <p class="lead mb-4 text-white pe-sm-5 parrafo">Enterate de todo lo nuevo en Lairen. Torneos, lanzamientos,
          modificaciones y todo lo que sea pertinente a este maravilloso juego</p>
      </div>
    </div>
  </div>
</section>

<section class="section section-xl text-center card-seccion">
  <div class="container">
    <div class="row row-125">

      <div *ngFor="let post of posts$ | async | paginate: { itemsPerPage: 6, currentPage: p } " class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-4 col-xxl-4 cards-lore">
        <article class="post-classic">
          <figure class="post-classic-figure"><a (click)="verEntrada(post.id)"><img [src]="post.better_featured_image.source_url" alt="" /></a></figure>
          <div class="post-classic-content">
            <time class="post-classic-time" > {{post.date_gmt | date}} </time>
            <h5 class="post-classic-title"><a (click)="verEntrada(post.id)"> {{post.title.rendered}} </a></h5><a class="post-classic-link" (click)="verEntrada(post.id)">Leer capítulo</a>
          </div>
        </article>
      </div>
      <pagination-controls previousLabel="Anterior" nextLabel="Siguiente" class="m-5 my-pagination text-white"
      (pageChange)="p = $event"></pagination-controls>

    </div>
  </div>
</section> -->

<section class="primer-fondo hero-block pb-5 position-relative pt-5 text-white-50">
  <div class="col-lg-8 end-0 h-100 position-absolute top-0">
  </div>
  <div class="container pb-5 position-relative pt-5">
    <div class="align-items-center gy-4 row">
      <div class="col-lg-12 text-center textos pb-4">
        <h1 class="display-3 fw-bold text-uppercase titulo-inicial text-white">Las últimas noticias</h1>
        <p class="lead mb-4 text-white pe-sm-5 parrafo">Enterate de todo lo nuevo en Lairen. Torneos, lanzamientos,
          modificaciones y todo lo que sea pertinente a este maravilloso juego</p>
      </div>
    </div>
  </div>
</section>

<section class="section section-xl text-center card-seccion">
  <div class="container">
    <div *ngIf="posts$ | async as blogpost" class="container">
      <div class="row row-125">

        <div *ngFor="let blogpost of blogpost | paginate: { itemsPerPage: 6, currentPage: p } " class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-4 col-xxl-4 cards-lore">
          <article class="post-classic">
            <figure class="post-classic-figure"><a ><img [src]="blogpost.fields.featuredImage.fields.file.url" alt="" /></a></figure>
            <div class="post-classic-content">
              <time class="post-classic-time" > {{blogpost.fields.updatedDate | date}} </time>
            <h5 class="post-classic-title"><a > {{blogpost.fields.title}} </a></h5>
            <h6 class="mt-3">{{blogpost.fields.summary}}</h6>
            <a (click)="verEntrada(blogpost.sys.id)" class="post-classic-link" >Leer capítulo</a>
            </div>
          </article>
        </div>
        <pagination-controls previousLabel="Anterior" nextLabel="Siguiente" class="my-pagination text-white"
        (pageChange)="p = $event"></pagination-controls>
      </div>
    </div>
  </div>
</section>
