<div class="container">

  <h2>Política de Privacidad para [LairenApp]</h2>

  <p>Última actualización: [28/10/2023]</p>

  <p>[Ludicat Juegos] ("nosotros", "nuestro") opera la aplicación móvil [LairenApp] (la "Servicio").</p>

  <p>Esta página le informa de nuestras políticas en relación con la recopilación, uso y divulgación de información personal cuando utiliza nuestro Servicio.</p>

  <p>Utilizaremos su información solo para proporcionar y mejorar el Servicio. Al utilizar el Servicio, usted acepta la recopilación y uso de información de acuerdo con esta política.</p>

  <h3>Recopilación y uso de información</h3>

  <p>Mientras utiliza nuestro Servicio, podemos solicitarle que nos proporcione cierta información de identificación personal que se puede utilizar para contactarlo o identificarlo. La información de identificación personal puede incluir, pero no se limita a, su nombre, número de teléfono, dirección postal, dirección de correo electrónico y otra información ("Información Personal").</p>

  <h3>Datos de registro</h3>

  <p>Recopilamos información que su dispositivo móvil envía cada vez que utiliza nuestro Servicio ("Datos de Registro"). Estos Datos de Registro pueden incluir información como la dirección IP de su dispositivo, tipo de dispositivo, versión del sistema operativo, la configuración del dispositivo cuando accede a nuestro Servicio, la hora y fecha de su uso del Servicio, y otras estadísticas.</p>

  <h3>Cookies</h3>

  <p>Las cookies son archivos con una pequeña cantidad de datos, que pueden incluir un identificador único anónimo. Enviamos cookies a su navegador desde nuestro Servicio y se almacenan en el disco duro de su dispositivo. Utilizamos cookies para recopilar información con el fin de mejorar nuestro Servicio para usted.</p>

  <h3>Proveedores de servicio</h3>

  <p>Podemos emplear empresas y personas de terceros para facilitar nuestro Servicio, para proporcionar el Servicio en nuestro nombre, para realizar servicios relacionados con el Servicio o para ayudarnos a analizar cómo se utiliza nuestro Servicio.</p>

  <h3>Seguridad</h3>

  <p>La seguridad de su Información Personal es importante para nosotros, pero recuerde que ningún método de transmisión por Internet o método de almacenamiento electrónico es 100% seguro. Aunque nos esforzamos por utilizar medios comercialmente aceptables para proteger su Información Personal, no podemos garantizar su seguridad absoluta.</p>

  <h3>Cambios en esta Política de Privacidad</h3>

  Podemos actualizar nuestra Política de Privacidad de vez en cuando. Le notificaremos de cualquier cambio publicando la nueva Política de Privacidad en esta página.

  <h3>Contacto</h3>

  <p>Si tiene alguna pregunta sobre esta Política de Privacidad, contáctenos.</p>
</div>

