.fondo-gris{
  background-color: #2e3031;
}

.primer-fondo {
  background-image: linear-gradient(rgba(14, 13, 13, 0.5), rgba(11, 11, 11, 0.3)), url(../../../assets/images/productos.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 70vh;
  background-attachment: fixed;
  background-position: center;
}



.textos {
  margin-top: 160px;
}

.header-image {
  max-height: 500px;
}

.titulo-inicial {
  text-shadow: -1px 2px 5px rgba(0,0,0,0.68);
  margin-top: 30px;
}

.parrafo{
  font-size: 30px;
  font-weight: bolder;
  text-shadow: -1px 2px 5px rgba(0,0,0,0.88);
}

.carruseles:hover {
  cursor: pointer;
}


@keyframes zoomInOut {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.logo {
  animation-name: zoomInOut;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}



.custom-btn {
  background-color: transparent;
  border: 2px solid #fff;
  padding: 10px 20px;
  transition: background-color 0.3s;
  width: 70%;
  text-align: center;
  display: block;
  margin: 0 auto; /* Centrar horizontalmente */
}

.custom-btn:hover {
  background-color: #f8c538;
  color: black !important; /* Color del texto al hacer hover. Puedes cambiarlo si lo necesitas */
}

@media (min-width: 576px) { /* Para pantallas más grandes que un teléfono en modo retrato */
  .custom-btn {
      width: auto; /* Los botones ocuparán el ancho que requiera su contenido */
      display: inline-block; /* Se muestran uno al lado del otro */
  }
}



