.fondo-gris{
  background-color: #2e3031;
}

.primer-fondo {
  background-image: linear-gradient(rgba(14, 13, 13, 0.5), rgba(11, 11, 11, 0.3)), url(https://i.postimg.cc/d0kCn613/2022-11-27-13-35-33-002-two-medieval-soldiers-playing-with-cards-on-a-table-digital-painting-trend-o.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 70vh;
  background-attachment: fixed;
  background-position: center;

}

.textos {
  margin-top: 160px;
}

.header-image {
  max-height: 500px;
}

.titulo-inicial {
  text-shadow: -1px 2px 5px rgba(0,0,0,0.68);
  margin-top: 30px;
}

.parrafo{
  font-size: 30px;
  font-weight: bolder;
  text-shadow: -1px 2px 5px rgba(0,0,0,0.88);
}

.carruseles:hover {
  cursor: pointer;
}

