<section class="primer-fondo hero-block pb-5 position-relative pt-5 text-white-50">
  <div class="col-lg-8 end-0 h-100 position-absolute top-0">
  </div>
  <div class="container pb-5 position-relative pt-5">
    <div class="align-items-center gy-4 row">
      <div class="col-lg-12 text-center textos pb-4">
        <h1 class="display-3 fw-bold text-uppercase titulo-inicial text-white">nuestros productos</h1>
        <p class="lead mb-4 text-white pe-sm-5 parrafo">Te presentamos los mazos y expansiones de boosters de Lairen. Tocá el nombre del set para poder ver toda la información!</p>
      </div>
    </div>
  </div>
</section>

<section class="fondo-gris text-center pb-5 text-white" >

  <div class="container pt-4 pb-4">
    <div class="text-center mb-4">
        <h2>Sets de cartas</h2>
        <hr>
    </div>

    <div class="d-flex flex-wrap justify-content-center">
        <button (click)="mostrarSeccion('Fundamentos')" class="custom-btn mx-2 my-1 text-white">Fundamentos</button>
        <button (click)="mostrarSeccion('Pacto')" class="custom-btn mx-2 my-1 text-white">Pacto Secreto</button>
    </div>
  </div>

  <div class="container mt-5">
    <div class="text-center mb-4">
        <h2>Otros productos</h2>
        <hr>
    </div>

    <div class="d-flex flex-wrap justify-content-center">
        <button (click)="mostrarSeccion('Playmats')" class="custom-btn mx-2 my-1 text-white">Playmats</button>
        <!-- <button class="custom-btn mx-2 my-1 text-white">Folios</button> -->
    </div>
  </div>



</section>


<section class="bg-dark">
  <div *ngIf="seleccionado == 'Fundamentos'">
    <app-fundamentos></app-fundamentos>
  </div>
  <div *ngIf="seleccionado == 'Pacto'">
    <app-pacto-secreto></app-pacto-secreto>
  </div>
  <div *ngIf="seleccionado == 'Playmats'">
    <app-playmats></app-playmats>
  </div>
</section>

