<section class="primer-fondo hero-block pb-5 position-relative pt-5 text-white-50">
  <div class="col-lg-8 end-0 h-100 position-absolute top-0">
  </div>
  <div class="container pb-5 position-relative pt-5">
    <div class="align-items-center gy-4 row">
      <div class="col-lg-12 text-center textos pb-4">
        <h1 class="display-3 fw-bold text-uppercase titulo-inicial text-white">Este es tu lugar en Lairen</h1>
        <p class="lead mb-4 text-white pe-sm-5 parrafo">Iniciá sesión o registrate para empezar!</p>
      </div>
    </div>
  </div>
</section>
