<div class="fondo-gris pt-3 pb-5">
  <div class="container">
    <p class="textoTitular">Nosotros</p>
    <div class="pt-2 pb-4">

      <div class="contenedor pt-3 pb-3 pt-lg-3 pb-lg-3 ps-sm-3 pe-sm-3 ps-3 pe-3 ps-lg-5 pe-lg-5">

        <p>Somos <span class="logoverde">RepuestosCelu</span>, la red de comercios de repuestos y accesorios de celulares en todo el país con el objetivo de garantizar un servicio de entrega rápido, seguro y eficiente.</p>

        <p>En <span class="logoverde">RepuestosCelu</span>, tu compra resulta mucho más rápida, sencilla y al mejor precio. Crea tu cuenta en la plataforma. Compra lo que quieras. Recibidos tus pedidos, armamos tu orden y lo despachamos rápidamente a tu dirección en Argentina. <b><i>¡Y ya es tuyo! Así de fácil.</i></b></p>

        <p>Contamos con una <b>amplia variedad de productos</b> de alta calidad y las mejores marcas del mercado y nos esforzamos por ser tu destino número uno para todas tus necesidades de reparación y personalización de dispositivos móviles.
        Regístrate en nuestro sitio web para acceder a una amplia gama de productos, desde pantallas y baterías hasta fundas y cables, todo al precio más bajo del mercado.</p>

        <p>En <span class="logoverde">RepuestosCelu</span>, entendemos la importancia de la rapidez en el servicio. Una vez realizada tu compra, nuestro equipo se encarga de armar tu pedido de manera eficiente y precisa. Con una logística de entrega optimizada, podemos despachar tu pedido en tiempo récord, asegurando que recibas tus productos lo antes posible, dondequiera que te encuentres en Argentina.</p>

        <p>Nuestro equipo de atención está disponible para ayudarte en cada paso del proceso de compra, desde la selección de productos hasta la resolución de cualquier consulta o problema que puedas tener. <b>Tu satisfacción es nuestra máxima prioridad.</b></p>

        <p>Ya sea que seas un técnico profesional, un entusiasta de la tecnología o simplemente necesites reparar tu propio dispositivo, en     <span class="logoverde">RepuestosCelu</span> tenemos todo lo que necesitas para mantener tus dispositivos móviles en óptimas condiciones. Únete a nuestra comunidad de clientes satisfechos y descubre por qué somos la elección preferida para repuestos y accesorios de celulares en Argentina.</p>

        <p>¡Haz tu pedido hoy mismo y experimenta la diferencia con <span class="logoverde">RepuestosCelu</span>!</p>

      </div>

    </div>
  </div>
</div>
