<div class="fondo-gris pt-3 pb-5">
  <div class="container">
    <p class="textoTitular">Nosotros</p>
    <div class="pt-2 pb-4">

      <div class="contenedor pt-5 pb-5 ps-5 pe-5">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloremque laborum necessitatibus fugiat corrupti a, eaque doloribus quas accusantium dignissimos laboriosam molestias iste odit. Quibusdam quae nulla recusandae reprehenderit tempora voluptas.</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloremque laborum necessitatibus fugiat corrupti a, eaque doloribus quas accusantium dignissimos laboriosam molestias iste odit. Quibusdam quae nulla recusandae reprehenderit tempora voluptas.</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloremque laborum necessitatibus fugiat corrupti a, eaque doloribus quas accusantium dignissimos laboriosam molestias iste odit. Quibusdam quae nulla recusandae reprehenderit tempora voluptas.</p>
      </div>

    </div>
  </div>
</div>
