footer {
  padding-bottom: 3rem;
  background-color: #ffffff;
}

.footer-link {
  color: #fff; /* Color de los enlaces */
  margin-bottom: 0.5rem; /* Espaciado entre enlaces */
  display: block; /* Hace que cada enlace sea de bloque para que se apile verticalmente */
}

.footer-link:hover {
  color: #aaa; /* Color al pasar el mouse sobre los enlaces */
}

.footer-links a, .social-icons {
  text-align: left; /* Alinea el texto a la izquierda */
}

.d-block {
  text-decoration: none;
  color: #000;
}

.social-icons {
  /* Estilos para tus íconos sociales */
}


.footer-content {
  max-width: 30%; /* Ajusta este valor según lo necesites para controlar el ancho del contenido */
  margin-left: auto;
  margin-right: auto;
  text-align: left; /* Asegura que el texto esté alineado a la izquierda dentro del contenedor */
}


/* Estilos responsivos */
@media (max-width: 576px) {

  .footer-content {
    max-width: 100%; /* Puede que quieras permitir que el contenido ocupe más espacio en pantallas pequeñas */
    text-align: center;
  }

}
