<footer class="container-fluid mt-5 pt-2 pb-3">
  <div class="row">
    <!-- Columna Izquierda -->
    <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4 mb-3 ">
      <div class="footer-content">
        <a target="_blank" href="https://admin.repuestoscelu.com.ar" class=" d-block mb-2">Perfil Proveedores</a>
        <a routerLink="terminos_condiciones" class=" d-block mb-2">Términos y condiciones</a>
        <a routerLink="politica_de_devolucion" class=" d-block mb-2">Devolución</a>
        <a routerLink="politica_de_privacidad" class=" d-block mb-2">Política de privacidad</a>
      </div>
    </div>

    <!-- Columna del Medio -->
    <div class="col-12 col-sm-4 col-md-4	col-lg-4 col-xl-4	col-xxl-4 mb-3">
      <div class="footer-content text-center">
        <img width="70" src="../../../assets/images/LOGO/Logo solo verde.png" alt="" class="mb-2">
        <p style="color: #4a933c;" class="small mt-2">Copyright © 2023-2024 RepuestosCelu S.A.</p>
      </div>
    </div>

    <!-- Columna Derecha -->
    <div class="col-12 col-sm-4 col-md-4	col-lg-4 col-xl-4	col-xxl-4 mb-3">
      <div class="footer-content">
        <p class="mb-1"><b>RepuestosCelu</b></p>
        <p class="mb-1">Tel: (011) 4985-1111</p>
        <a href="mailto:info@repuestoscelu.com.ar" class=" d-block mb-2">info@repuestoscelu.com.ar</a>
        <div class="social-icons justify-content-center text-center ">
          <a target="_blank" href="https://www.instagram.com/repuestoscelu/"><img class="m-1" width="25" src="../../../assets/images/icons/instagram.png" alt="instagram"></a>
          <a target="_blank" href="https://www.facebook.com/profile.php?id=61559534756567"><img class="m-1" width="25" src="../../../assets/images/icons/facebook.png" alt="facebook"></a>
          <a target="_blank" href=""><img class="m-1" width="25" src="../../../assets/images/icons/wsp.png" alt="whatsapp"></a>
        </div>
      </div>
    </div>
  </div>
</footer>
