<footer class="footer">
  <div class="footer-container">
    <div class="footer-left">
      <a href="#">Perfil Proveedores</a>
      <a href="#">Términos y condiciones</a>
      <a href="#">Envíos</a>
      <a href="#">Devolución</a>
    </div>
    <div class="footer-center">
      <div class="lock-icon">
        <img width="70" src="../../../assets/images/LOGO/Logo solo verde.png" alt="">
      </div>
      <div class="copy-text">
        Copyright © 2023-2024 RepuestosCelu S.A.
      </div>
    </div>
    <div class="footer-right">
      <p>RepuestosCelu</p>
      <p>C.P. 0000</p>
      <p>Tel: (000) 0000-1111</p>
      <a href="mailto:repuestoscelu@contacto.com">repuestoscelu@contacto.com</a>
      <div class="social-icons">
        <!-- Aquí van tus íconos de redes sociales -->
      </div>
    </div>
  </div>
</footer>
