<footer class="container-fluid pt-2 pb-3">
  <div class="row">
    <!-- Columna Izquierda -->
    <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4 mb-3 ">
      <div class="footer-content">
        <a href="#" class=" d-block mb-2">Perfil Proveedores</a>
        <a href="#" class=" d-block mb-2">Términos y condiciones</a>
        <a href="#" class=" d-block mb-2">Envíos</a>
        <a href="#" class=" d-block mb-2">Devolución</a>
      </div>
    </div>

    <!-- Columna del Medio -->
    <div class="col-12 col-sm-4 col-md-4	col-lg-4 col-xl-4	col-xxl-4 mb-3">
      <div class="footer-content text-center">
        <img width="70" src="../../../assets/images/LOGO/Logo solo verde.png" alt="" class="mb-2">
        <p style="color: #4a933c;" class="small mt-2">Copyright © 2023-2024 RepuestosCelu S.A.</p>
      </div>
    </div>

    <!-- Columna Derecha -->
    <div class="col-12 col-sm-4 col-md-4	col-lg-4 col-xl-4	col-xxl-4 mb-3">
      <div class="footer-content">
        <p class="mb-1"><b>RepuestosCelu</b></p>
        <p class="mb-1">C.P. 0000</p>
        <p class="mb-1">Tel: (000) 0000-1111</p>
        <a href="mailto:repuestoscelu@contacto.com" class=" d-block mb-2">repuestoscelu@contacto.com</a>
        <div class="social-icons justify-content-center text-center ">
          <a href=""><img class="m-1" width="25" src="../../../assets/images/icons/instagram.png" alt="instagram"></a>
          <a href=""><img class="m-1" width="25" src="../../../assets/images/icons/facebook.png" alt="facebook"></a>
          <a href=""><img class="m-1" width="25" src="../../../assets/images/icons/twitter.png" alt="twitter"></a>
          <a href=""><img class="m-1" width="25" src="../../../assets/images/icons/linkedin.png" alt="linkedin"></a>
          <a href=""><img class="m-1" width="25" src="../../../assets/images/icons/wsp.png" alt="whatsapp"></a>
        </div>
      </div>
    </div>
  </div>
</footer>
