<section class="fondo-gris pt-5 pb-5">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <button class="btn btn-success mt-3 mb-3">Agregar todo al carrito</button>
        <div *ngFor="let producto of productos" class="card mb-3">
          <div class="card-body">
            <div class="row align-items-center">
              <div class="col-md-3">
                <img [src]="producto.image" alt="{{ producto.title }}" class="img-fluid fotoproducto">
              </div>
              <div class="col-md-6">
                <h5 class="card-title d-inline-block mb-0">{{ producto.title }}</h5><br>
                <h3 class="card-title d-inline-block mb-0">Punto de venta {{ producto.city }} - {{ producto.state }}</h3><br>
                <span class="price">${{ producto.price }}</span>
              </div>
              <div class="col-md-3 d-flex flex-column mt-2">
                <button class="btn btn-success mb-2">Agregar al carrito</button>
                <button class="btn btn-warning mb-2">Ver producto</button>
                <button class="btn btn-danger">Eliminar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
