<div *ngIf="esverdad == true" class="formulario text-center">
  <div class="container">
    <h2 class="m-4">Actualizar Tienda</h2>
    <div class="row mb-4">
      <form (ngSubmit)="onSubmit()" [formGroup]="contactForm">
        <div class="col">

          <div class="m-4">
            <label class="form-label display-text" for="formularioTiendaNombre">Nombre</label><br>
            <input [ngModel]="tienda.nombreTienda" (ngModelChange)="nombreInput = $event.toUpperCase()"
              formControlName="formularioTiendaNombre" name="formularioTiendaNombre"
              [class.is-invalid]="contactForm.get('formularioTiendaNombre').invalid && contactForm.get('formularioTiendaNombre').touched"
              type="text" id="formularioTiendaNombre" class="formulario-input bg-light form-control "
              formControlName="formularioTiendaNombre" required />
            <div
              *ngIf="contactForm.get('formularioTiendaNombre')?.touched && contactForm.get('formularioTiendaNombre')?.errors?.['required'] "
              class="alert alert-danger formulario-error text-center mt-3">*El campo de nombre es obligatorio</div>
            <div
              *ngIf="contactForm.get('formularioTiendaNombre')?.touched && contactForm.get('formularioTiendaNombre')?.errors?.['minlength'] "
              class="alert alert-danger formulario-error mt-3">*El campo de nombre debe contener al menos
              {{contactForm.get('formularioTiendaNombre')?.errors?.['minlength'].requiredLength}} letras</div>
          </div>

          <div class="m-4">
            <label class="form-label display-text" for="formularioTiendaLogo">Logo</label><br>
            <input [ngModel]="tienda.logoTienda" formControlName="formularioTiendaLogo" name="formularioTiendaLogo"
              [class.is-invalid]="contactForm.get('formularioTiendaLogo').invalid && contactForm.get('formularioTiendaLogo').touched"
              type="text" id="formularioTiendaLogo" class="formulario-input bg-light form-control "
              formControlName="formularioTiendaLogo" required />
            <div
              *ngIf="contactForm.get('formularioTiendaLogo')?.touched && contactForm.get('formularioTiendaLogo')?.errors?.['required'] "
              class="alert alert-danger formulario-error text-center mt-3">*El campo de logo es obligatorio</div>
            <div
              *ngIf="contactForm.get('formularioTiendaLogo')?.touched && contactForm.get('formularioTiendaLogo')?.errors?.['minlength'] "
              class="alert alert-danger formulario-error mt-3">*El campo de logo debe contener al menos
              {{contactForm.get('formularioTiendaLogo')?.errors?.['minlength'].requiredLength}} letras</div>
          </div>

          <div class="m-4">
            <label class="form-label display-text" for="formularioTiendaMapa">Mapa</label><br>
            <input [ngModel]="tienda.mapaTienda" formControlName="formularioTiendaMapa" name="formularioTiendaMapa"
              [class.is-invalid]="contactForm.get('formularioTiendaMapa').invalid && contactForm.get('formularioTiendaMapa').touched"
              type="text" id="formularioTiendaMapa" class="formulario-input bg-light form-control "
              formControlName="formularioTiendaMapa" required />
            <div
              *ngIf="contactForm.get('formularioTiendaMapa')?.touched && contactForm.get('formularioTiendaMapa')?.errors?.['required'] "
              class="alert alert-danger formulario-error text-center mt-3">*El campo de mapa es obligatorio</div>
            <div
              *ngIf="contactForm.get('formularioTiendaMapa')?.touched && contactForm.get('formularioTiendaMapa')?.errors?.['minlength'] "
              class="alert alert-danger formulario-error mt-3">*El campo de mapa debe contener al menos
              {{contactForm.get('formularioTiendaMapa')?.errors?.['minlength'].requiredLength}} letras</div>
          </div>

          <div class="m-4">
            <label class="form-label display-text" for="formularioTiendaDireccion">Direccion</label><br>
            <input [ngModel]="tienda.direccionTienda" formControlName="formularioTiendaDireccion" name="formularioTiendaDireccion"
              [class.is-invalid]="contactForm.get('formularioTiendaDireccion').invalid && contactForm.get('formularioTiendaDireccion').touched"
              type="text" id="formularioTiendaDireccion" class="formulario-input bg-light form-control "
              formControlName="formularioTiendaDireccion" required />
            <div
              *ngIf="contactForm.get('formularioTiendaDireccion')?.touched && contactForm.get('formularioTiendaDireccion')?.errors?.['required'] "
              class="alert alert-danger formulario-error text-center mt-3">*El campo de direccion es obligatorio</div>
            <div
              *ngIf="contactForm.get('formularioTiendaDireccion')?.touched && contactForm.get('formularioTiendaDireccion')?.errors?.['minlength'] "
              class="alert alert-danger formulario-error mt-3">*El campo de direccion debe contener al menos
              {{contactForm.get('formularioTiendaDireccion')?.errors?.['minlength'].requiredLength}} letras</div>
          </div>


          <div class="m-4">
            <label class="form-label display-text" for="formularioTiendaUrl">Url (web o red social)</label><br>
            <input formControlName="formularioTiendaUrl" name="formularioTiendaUrl"
              [class.is-invalid]="contactForm.get('formularioTiendaUrl').invalid && contactForm.get('formularioTiendaUrl').touched"
              type="text" id="formularioTiendaUrl" class="formulario-input bg-light form-control "
              formControlName="formularioTiendaUrl" required />
            <div
              *ngIf="contactForm.get('formularioTiendaUrl')?.touched && contactForm.get('formularioTiendaUrl')?.errors?.['required'] "
              class="alert alert-danger formulario-error text-center mt-3">*El campo de url es obligatorio</div>
            <div
              *ngIf="contactForm.get('formularioTiendaUrl')?.touched && contactForm.get('formularioTiendaUrl')?.errors?.['minlength'] "
              class="alert alert-danger formulario-error mt-3">*El campo de url debe contener al menos
              {{contactForm.get('formularioTiendaUrl')?.errors?.['minlength'].requiredLength}} letras</div>
          </div>

          <button (click)="onSubmit()"
            [disabled]="contactForm.invalid" type="submit" id="enviarFormulario"
            class="btn btn-warning btn-block btn-lg m-2">Guardar edición
          </button>

          <button (click)="regresarListaTiendas()" type="button" id="enviarFormulario"
            class="btn btn-warning btn-block btn-lg m-2">Volver
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
