<section class="primer-fondo hero-block pb-5 position-relative pt-5 text-white-50">
  <div class="col-lg-8 end-0 h-100 position-absolute top-0">
  </div>
  <div class="container pb-5 position-relative pt-5">
    <div class="align-items-center gy-4 row">
      <div class="col-lg-6 pb-4">
        <h1 class="display-3 fw-bold text-uppercase titulo-inicial text-white">Aprender a jugar es el primer paso</h1>
        <p class="lead mb-4 text-white pe-sm-5 parrafo">El manual oficial de juego, videtutoriales y partidas. Todos los
          recursos
          disponibles para que puedas aprender sin dificultades!
        </p>
      </div>
    </div>
  </div>
</section>

<section class="bg-dark pt-4 pb-4">
  <div class="table-responsive">
    <table class="container text-center table table-dark table-borderless table-hover">
      <thead class="d-none d-sm-table-row">
        <th></th>
        <th></th>
      </thead>
      <tbody>
        <tr>
          <td >
            <a target="_blank" href="https://docs.google.com/document/d/1MM7AkUG_yAJPxYJHDTKOXftCJTXCLQwj6_cnSVVaf-8/edit?usp=sharing">
              <img  class="img-fluid" src="https://i.postimg.cc/W1kxv6Fq/MAN-UAL-WIP.jpg" alt="manual oficial">
            </a>
          </td>
        </tr>
        <tr>
          <td class="align-middle text-uppercase video-container">
            <iframe src="https://www.youtube.com/embed/XxFQ2b4FMO4?si=RBBrJ2Z8Dq0doE47"
                    title="Tutorial de Lairen"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen>
            </iframe>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>


<section class="fondo-gris pt-5 pb-5">
  <h2 class="display-4 text-white text-center fw-bold text-uppercase">Preguntas frecuentes</h2>
  <div class="container pt-5 pb-5">
    <div class="accordion" id="accordionExample">
      <div class="accordion-item text-white fondo-gris">
        <h2 class="accordion-header" id="headingOne">
          <button class="accordion-button botonTexto" id="botonAcordeon" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
            aria-expanded="true" aria-controls="collapseOne">
            ¿Qué es Lairen TCG?
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
          data-bs-parent="#accordionExample">
          <div class="accordion-body">
            Lairen es un juego de cartas de fantasía medieval y del tipo <i>trading card game</i>, o juego de cartas intercambiables. Que sea un juego de esta categoría, significa dos cosas:
            <ul>
              <li>No hay un solo producto que puedas adquirir y con ello tener todas las cartas del juego. Las cartas se consiguen a través de mazos
                preconstruidos, como también a través de Boosters
              </li>
              <li>Cada jugador puede estar jugando con un mazo totalmente único y personalizado</li>
            </ul>
            La construcción de mazos hace que Lairen sea un juego que se puede ajustar al estilo de cada jugador, desde los más agresivos hasta los más defensivos. Podrás armar la estrategia que desees y enfrentarte a tus oponentes poniendo a pruebas tus creaciones.
          </div>
        </div>
      </div>
      <div class="accordion-item text-white fondo-gris">
        <h2 class="accordion-header" id="headingSix">
          <button class="accordion-button botonTexto" id="botonAcordeon" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix"
            aria-expanded="true" aria-controls="collapseSix">
            ¿Qué necesito para empezar a jugar Lairen?
          </button>
        </h2>
        <div id="collapseSix" class="accordion-collapse collapse show" aria-labelledby="headingSix"
          data-bs-parent="#accordionExample">
          <div class="accordion-body">
            Para comenzar a jugar, necesitarás adquirir un set inicial que incluya un mazo predefinido y un manual de reglas. El manual de reglas te guiará a través de los conceptos básicos del juego, y el mazo predefinido te permitirá familiarizarte con las mecánicas del juego antes de comenzar a personalizar tu propio mazo.
          </div>
        </div>
      </div>
      <div class="accordion-item text-white fondo-gris">
        <h2 class="accordion-header" id="headingSeven">
          <button class="accordion-button collapsed botonTexto" id="botonAcordeon" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
            ¿Cómo puedo mejorar y personalizar mi mazo?
          </button>
        </h2>
        <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven"
          data-bs-parent="#accordionExample">
          <div class="accordion-body">
            Puedes mejorar y personalizar tu mazo adquiriendo boosters de cartas adicionales, que contienen una selección de cartas aleatorias. Al combinar cartas de diferentes sobres, podrás crear un mazo único que se adapte a tu estilo de juego y estrategia. También puedes intercambiar cartas con otros jugadores para obtener las cartas específicas que necesitas.
          </div>
        </div>
      </div>
      <div class="accordion-item text-white fondo-gris">
        <h2 class="accordion-header" id="headingTwo">
          <button class="accordion-button collapsed botonTexto" id="botonAcordeon" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            ¿Qué son los boosters?
          </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
          data-bs-parent="#accordionExample">
          <div class="accordion-body">
            Los boosters, o 'sobres' como también se les conoce, contienen cartas de forma aleatoria. Nadie sabe qué cartas van a tocarte allí, pero sí tienes garantizado cuántas cartas de una determinada rareza vas a conseguir.
          </div>
        </div>
      </div>
      <div class="accordion-item text-white fondo-gris">
        <h2 class="accordion-header" id="headingThree">
          <button class="accordion-button collapsed botonTexto" id="botonAcordeon" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            ¿Qué son las rarezas?
          </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
          data-bs-parent="#accordionExample">
          <div class="accordion-body">
            Las rarezas determinan qué tan buena es la carta, según su poder o su coste. También determina la probabilidad de que puedas conseguirla en los boosters. Desde 'Pacto Secreto', la distribución de las rarezas en un booster es la siguiente:
            4 Cartas Bronce - 3 Cartas Plata - 1 Carta Oro (Que puede ser reemplaza por una carta Diamante).
            Además, el booster contendrá obligatoriamente una carta de Tesoro, sea cuál sea su rareza (ocupando el correspondiente slot).
          </div>
        </div>
      </div>
      <div class="accordion-item text-white fondo-gris">
        <h2 class="accordion-header" id="headingFour">
          <button class="accordion-button collapsed botonTexto" id="botonAcordeon" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
            ¿Puedo combinar cartas de diferentes facciones o tipos en mi mazo?
          </button>
        </h2>
        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
          data-bs-parent="#accordionExample">
          <div class="accordion-body">
            Sí, puedes combinar cartas de diferentes facciones o tipos en tu mazo. De hecho, una de las mejores estrategias es encontrar sinergias entre cartas de diferentes facciones para crear combinaciones poderosas y sorprender a tus oponentes. Sin embargo, ten presente que solo podrás tener hasta 2 subtipos de unidad en tu mazo.
          </div>
        </div>
      </div>
      <div class="accordion-item text-white fondo-gris">
        <h2 class="accordion-header" id="headingFive">
          <button class="accordion-button collapsed botonTexto" id="botonAcordeon" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
            ¿Existen torneos o eventos organizados?
          </button>
        </h2>
        <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
          data-bs-parent="#accordionExample">
          <div class="accordion-body">
            Por supuesto! Estos eventos son una excelente oportunidad para poner a prueba tus habilidades, conocer a otros jugadores y ganar premios exclusivos. Seguinos en nuestras redes para estar al tanto de cada torneo que vaya a realizarse!
          </div>
        </div>
      </div>

      <div class="accordion-item text-white fondo-gris">
        <h2 class="accordion-header" id="headingSix">
          <button class="accordion-button collapsed botonTexto" id="botonAcordeon" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
            ¿Existe algún sistema de rotación?
          </button>
        </h2>
        <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix"
          data-bs-parent="#accordionExample">
          <div class="accordion-body">
            Sí, el sistema de rotación es una parte vital para asegurar un saludable balanceo y estado de juego, respecto a cuántas cartas siguen siendo legales en el formato Dominación (el formato estándar que se juega en la mayoría de los torneos competitivos).
            Cada set tiene un ciclo de vida de 20 meses aproximado.
          </div>
        </div>
      </div>

    </div>
  </div>
</section>


