<div *ngIf="esverdad == true" class="formulario text-center">
  <div class="container">
    <h2 class="m-4">Registro de una carta nueva</h2>
    <div class="row mb-4">
      <form (ngSubmit)="onSubmit()" [formGroup]="contactForm">
        <div class="col">

          <div class="m-4">
            <label class="form-label display-text" for="formularioCartaNombre">Nombre</label><br>
            <input [ngModel]="carta.nombreCarta" (ngModelChange)="carta.nombreCarta = $event.toUpperCase()" formControlName="formularioCartaNombre" name="formularioCartaNombre"
              [class.is-invalid]="contactForm.get('formularioCartaNombre').invalid && contactForm.get('formularioCartaNombre').touched"
              type="text" id="formularioCartaNombre" class="formulario-input bg-light form-control "
              formControlName="formularioCartaNombre" required />
            <div
              *ngIf="contactForm.get('formularioCartaNombre')?.touched && contactForm.get('formularioCartaNombre')?.errors?.['required'] "
              class="alert alert-danger formulario-error text-center mt-3">*El campo de nombre es obligatorio</div>
            <div
              *ngIf="contactForm.get('formularioCartaNombre')?.touched && contactForm.get('formularioCartaNombre')?.errors?.['minlength'] "
              class="alert alert-danger formulario-error mt-3">*El campo de nombre debe contener al menos
              {{contactForm.get('formularioCartaNombre')?.errors?.['minlength'].requiredLength}} letras</div>
          </div>

          <div class="m-4">
            <label class="form-label display-text" for="formularioCartaCoste">Coste</label><br>
            <input [ngModel]="carta.costeCarta" formControlName="formularioCartaCoste" name="formularioCartaCoste"
              [class.is-invalid]="contactForm.get('formularioCartaCoste').invalid && contactForm.get('formularioCartaCoste').touched"
              type="number" id="formularioCartaCoste" class="formulario-input bg-light form-control " required
              formControlName="formularioCartaCoste" />
            <div
              *ngIf="contactForm.get('formularioCartaCoste')?.touched && contactForm.get('formularioCartaCoste')?.errors?.['required'] "
              class="alert alert-danger formulario-error mt-3">*El campo de coste es obligatorio</div>
            <div
              *ngIf="contactForm.get('formularioCartaCoste')?.touched && contactForm.get('formularioCartaCoste')?.errors?.['minlength'] "
              class="alert alert-danger formulario-error mt-3">*El campo de coste debe contener al menos
              {{contactForm.get('formularioCartaCoste')?.errors?.['minlength'].requiredLength}} cifra</div>
          </div>

          <div class="m-4">
            <label class="form-label display-text" for="formularioCartaCoste">Expansion</label><br>
            <select [ngModel]="carta.expansion" formControlName="formularioCartaExpansion" class="formulario-input bg-light form-control "
              name="formularioCartaExpansion" id="formularioCartaExpansion">
              <option *ngFor="let expa of expansiones | async" [ngValue]="expa">
                {{expa.nombreExpansion}}
              </option>
            </select>
            <div
              *ngIf="contactForm.get('formularioCartaExpansion')?.touched && contactForm.get('formularioCartaExpansion')?.errors?.['required'] "
              class="alert alert-danger formulario-error mt-3">*El campo de Expansion es obligatorio
            </div>
          </div>

          <div class="m-4">
            <label class="form-label display-text" for="formularioCartaRareza">Rareza</label><br>
            <select [ngModel]="carta.rareza" formControlName="formularioCartaRareza" class="formulario-input bg-light form-control "
              name="formularioCartaExpansion" id="formularioCartaExpansion">
              <option *ngFor="let rare of rarezas | async" [ngValue]="rare">
                {{rare.nombreRareza}}
              </option>
            </select>
            <div
              *ngIf="contactForm.get('formularioCartaRareza')?.touched && contactForm.get('formularioCartaRareza')?.errors?.['required'] "
              class="alert alert-danger formulario-error mt-3">*El campo de Rareza es obligatorio
            </div>

            <div class="m-4">
              <label class="form-label display-text" for="formularioCartaTipo">Tipo</label><br>
              <select [(ngModel)]="carta.tipo.nombreTipo" formControlName="formularioCartaTipo" class="formulario-input bg-light form-control "
                name="formularioCartaExpansion" id="formularioCartaExpansion" >
                <ng-container *ngIf="{ data: tipos | async } as result">
                  <option *ngFor="let type of result.data | orderBy:'nombreTipo'" [ngValue]="type">
                    {{type.nombreTipo}}
                  </option>
                </ng-container>
              </select>
              <div
                *ngIf="contactForm.get('formularioCartaTipo')?.touched && contactForm.get('formularioCartaTipo')?.errors?.['required'] "
                class="alert alert-danger formulario-error mt-3">*El campo de Tipo es obligatorio
              </div>
            </div>


            <div class="m-4">
              <label class="form-label display-text" for="formularioTextoCarta">Texto de carta</label><br>
              <input [ngModel]="carta.textoCarta" formControlName="formularioTextoCarta" name="formularioTextoCarta"
                [class.is-invalid]="contactForm.get('formularioTextoCarta').invalid && contactForm.get('formularioTextoCarta').touched"
                type="text" id="formularioTextoCarta" class="formulario-input bg-light form-control " required
                formControlName="formularioTextoCarta" />
              <div
                *ngIf="contactForm.get('formularioTextoCarta')?.touched && contactForm.get('formularioTextoCarta')?.errors?.['required'] "
                class="alert alert-danger formulario-error mt-3">*El texto de carta es obligatorio
              </div>
              <div
                *ngIf="contactForm.get('formularioTextoCarta')?.touched && contactForm.get('formularioTextoCarta')?.errors?.['minlength'] "
                class="alert alert-danger formulario-error mt-3">*El texto de carta debe contener al menos
                {{contactForm.get('formularioTextoCarta')?.errors?.['minlength'].requiredLength}} letras
              </div>
            </div>

            <div class="m-4">
              <label class="form-label display-text" for="formularioFlavorCarta">Flavor de carta</label><br>
              <input [ngModel]="carta.flavorCarta" class="formulario-input bg-light form-control " formControlName="formularioFlavorCarta" name="formularioFlavorCarta"/>
            </div>

            <div class="m-4">
              <label class="form-label display-text" for="formularioRulingCarta">Ruling de carta</label><br>
              <input [ngModel]="carta.rulingCarta" class="formulario-input bg-light form-control " formControlName="formularioRulingCarta" name="formularioRulingCarta"/>
            </div>


              <div class="m-4">
                <label class="form-label display-text" for="formularioCartaURL">URL de la imagen</label><br>
                <input [ngModel]="carta.urlImagen" formControlName="formularioCartaURL" name="formularioCartaURL"
                  [class.is-invalid]="contactForm.get('formularioCartaURL').invalid && contactForm.get('formularioCartaURL').touched"
                  type="text" id="formularioCartaURL" class="formulario-input bg-light form-control " required
                  formControlName="formularioCartaURL" />
                <div
                  *ngIf="contactForm.get('formularioCartaURL')?.touched && contactForm.get('formularioCartaURL')?.errors?.['required'] "
                  class="alert alert-danger formulario-error mt-3">*El campo de URL es obligatorio
                </div>
                <div
                  *ngIf="contactForm.get('formularioCartaURL')?.touched && contactForm.get('formularioCartaURL')?.errors?.['minlength'] "
                  class="alert alert-danger formulario-error mt-3">*El campo de URL debe contener al menos
                  {{contactForm.get('formularioCartaURL')?.errors?.['minlength'].requiredLength}} letras
                </div>
              </div>

              <div class="m-4">
                <label class="form-label display-text" for="formularioAlter1">Imagen alternativa 1</label><br>
                <input [ngModel]="carta.urlImagen1" class="formulario-input bg-light form-control " formControlName="formularioAlter1" name="formularioAlter1"/>
              </div>
              <div class="m-4">
                <label class="form-label display-text" for="formularioAlter2">Imagen alternativa 2</label><br>
                <input [ngModel]="carta.urlImagen2" class="formulario-input bg-light form-control " formControlName="formularioAlter2" name="formularioAlter2"/>
              </div>
              <div class="m-4">
                <label class="form-label display-text" for="formularioAlter3">Imagen alternativa 3</label><br>
                <input [ngModel]="carta.urlImagen3" class="formulario-input bg-light form-control " formControlName="formularioAlter3" name="formularioAlter3"/>
              </div>
              <div class="m-4">
                <label class="form-label display-text" for="formularioAlter4">Imagen alternativa 4</label><br>
                <input [ngModel]="carta.urlImagen4" class="formulario-input bg-light form-control " formControlName="formularioAlter4" name="formularioAlter4"/>
              </div>
              <div class="m-4">
                <label class="form-label display-text" for="formularioAlter5">Imagen alternativa 5</label><br>
                <input [ngModel]="carta.urlImagen5" class="formulario-input bg-light form-control " formControlName="formularioAlter5" name="formularioAlter5"/>
              </div>


              <button (click)="onSubmit()" [swal]="['Hecho!', 'Has actualizado una carta', 'success']"
                [disabled]="contactForm.invalid" type="submit" id="enviarFormulario"
                class="btn btn-warning btn-block btn-lg m-2">Guardar edición
              </button>

              <button (click)="regresarListaCartas()" type="button" id="enviarFormulario"
              class="btn btn-warning btn-block btn-lg m-2">Volver
              </button>

            </div>
          </div>
      </form>
    </div>
  </div>
</div>

