<section id="nuestra-experiencia" class="fondo-web pb-5 pt-5">
  <div class="container pb-5 pt-5">
    <h1 class="text-white text-center pb-2 pt-5">FUNDAMENTOS</h1>
    <h3 class="text-white text-center pb-5 ">Nuestro producto de lanzamiento</h3>
      <div class="align-items-center g-4 row">
          <div data-aos="fade-up"
          data-aos-offset="10"
          data-aos-duration="1000"
          data-aos-easing="ease-in-out"
          data-aos-anchor-placement="top-center" class="col-lg-5 me-auto ms-auto pb-lg-5 scroll-right">
              <h2 class="h6 text-uppercase display-text text-white">Rebelión del destierro</h2>
              <h3 class="h1 text-dark display-text text-white">Nuestro mazo de desertores</h3>
              <p class="lead mb-4 display-text text-white">Un mazo de daño rápido, bien aggro. Tiene unidades de coste bajo y la habilidad de golpear en el turno que son bajadas, también cuenta con cartas de acción que te ayudarán a limpiar el campo de tu oponente, para que tus unidades puedan golpear sin ser miedo a ser bloqueadas. Ideal si te gusta el juego agresivo.</p>
          </div>
          <div class="col-lg-6 mb-lg-n4 order-lg-first pe-lg-4 text-center scroll-left">
              <img src="https://i.postimg.cc/vB6h2CzB/desertores1.png"
                  class="img-fluid  w-100" />
          </div>
          <div data-aos="fade-up"
          data-aos-offset="10"
          data-aos-duration="1000"
          data-aos-easing="ease-in-out"
          data-aos-anchor-placement="top-center" class="col-lg-5 me-auto ms-auto pt-lg-5 scroll-left">
              <h2 class="h6 text-uppercase display-text text-white">Lealtad a la corona</h2>
              <h3 class="h1 text-dark display-text text-white">Nuestro mazo de soldados</h3>
              <p class="lead mb-4 display-text text-white">Un mazo centrado en el armado de mesa, estilo midrange. Sus unidades se fortalecerán entre sí, para crear un muro difícil de destruir para tus oponentes. Utilizá tus tesoros y acciones sabiamente para deshacerte de las estrategias que se opongan a tu control, y una vez que ya hayas formado una sólida mesa llena de caballeros y soldados, será tu momento de atacar y ganar. Ideal si te gusta el juego más pausado y progresivo.</p>
          </div>
          <div class="col-lg-6 mt-lg-n4 ps-lg-4 text-center scroll-right">
              <img src="https://i.postimg.cc/yYKjnQS1/soldados1.png"
                  class="img-fluid w-100" />
          </div>
      </div>

      <div class="pt-4 pb-4">
        <h2 class="text-center text-white pt-4 pb-4">Conoce algunas de nuestras mejores cartas. Andá pasándolas para verlas todas!</h2>
        <app-carrusel-cartas></app-carrusel-cartas>
      </div>

      <div class="text-center pt-4 pb-4">
        <h2 class="text-center text-white pt-4 pb-4">Fundamentos te está esperando. Iniciate en el mundo de Lairen ahora!</h2>
      </div>
  </div>
</section>
