<section id="nuestra-experiencia" class="fondo-web pb-5 pt-5">
  <div class="container contenedor pb-5 pt-5">
    <img class="logo pb-4" width="300" src="https://i.postimg.cc/nrPZd4MV/logo-fundamentos.png" alt="Fundamentos">
    <h3 class="text-white text-center pb-5 ">Nuestro producto de lanzamiento se viste con nuevo arte!</h3>
      <div class="align-items-center g-4 row">
          <div data-aos="fade-up"
          data-aos-offset="10"
          data-aos-duration="1000"
          data-aos-easing="ease-in-out"
          data-aos-anchor-placement="top-center" class="col-lg-5 me-auto ms-auto pt-lg-5">
              <h2 class="h6 text-uppercase display-text text-white">Relatos de Aixa</h2>
              <h3 class="h1 text-dark display-text text-white">Fundamentos, mejor que nunca</h3>
              <p class="lead mb-4 display-text text-white">Pensado especialmente para generales nuevos, Relatos de Aixa ha juntado las mejores cartas de los anteriores mazos que componían nuestra colección inicial: Rebelión del destierro y Lealtad la corona. Podrás ver las estrategias que son posibles realizar en combinación con soldados y desertores, y tendrás un pantallazo único sobre Lairen y todas sus posibilidades de juego. ¿Y la mejor parte? Todo revestido con nuevo arte!</p>
          </div>
          <div data-aos="fade-up"
          data-aos-offset="10"
          data-aos-duration="1000"
          data-aos-easing="ease-in-out"
          data-aos-anchor-placement="top-center" class="col-lg-6 mt-lg-n4 ps-lg-4 text-center">
              <img src="../../../../assets/images/frente mazo aixa.png"
                  class="img-fluid w-100" />
          </div>
      </div>

      <div class="row align-items-center g-4">
        <div class="col-lg-6 order-2 order-lg-1 mt-lg-n4 ps-lg-4 text-center" data-aos="fade-up"
        data-aos-offset="10"
        data-aos-duration="1000"
        data-aos-easing="ease-in-out"
        data-aos-anchor-placement="top-center">
          <img src="../../../../assets/images/lista del mazo.png"
            class="img-fluid w-100" />
        </div>
        <div class="col-lg-5 order-1 order-lg-2 me-auto ms-auto pt-lg-5" data-aos="fade-up"
        data-aos-offset="10"
        data-aos-duration="1000"
        data-aos-easing="ease-in-out"
        data-aos-anchor-placement="top-center">
          <h3 class="h1 text-dark display-text text-white">Conocé la lista que conforma el mazo</h3>
          <p class="lead mb-4 display-text text-white">Estas son todas las cartas que vas a encontrar en este preconstruido de Relatos de Aixa. Además, tendrás un instructivo básico con las reglas del juego, y también dos boosters de regalo para ampliar tu colección de cartas!</p>
        </div>
      </div>


      <div class="align-items-center g-4 row">
        <div data-aos="fade-up"
        data-aos-offset="10"
        data-aos-duration="1000"
        data-aos-easing="ease-in-out"
        data-aos-anchor-placement="top-center" class="col-lg-5 me-auto ms-auto pt-lg-5">
            <h2 class="h6 text-uppercase display-text text-white">Y cuando ya tenes el preconstruido y quieres más cartas...</h2>
            <h3 class="h1 text-dark display-text text-white">La caja de boosters es para vos</h3>
            <p class="lead mb-4 display-text text-white">Ya tenes tu preconstruido, pero necesitas más copias de cada carta para tu mazo y tu colección. La caja de boosters está pensado para eso: contiene cuatro boosters, y cada sobre te trae 8 cartas de Fundamentos. Y eso no es todo, también te garantiza una carta holográfica!</p>
        </div>
        <div data-aos="fade-up"
        data-aos-offset="10"
        data-aos-duration="1000"
        data-aos-easing="ease-in-out"
        data-aos-anchor-placement="top-center" class="col-lg-6 mt-lg-n4 ps-lg-4 text-center">
            <img src="../../../../assets/images/caja booster fundamentos.png"
                class="img-fluid w-100" />
        </div>
    </div>


      <div class="pt-4 pb-4">
        <h2 class="text-center text-white pt-4 pb-4">¿Te gustaría ver directamente todas las cartas en imágenes? Andá pasándolas para verlas todas!</h2>
        <app-carrusel-cartas></app-carrusel-cartas>
      </div>

      <div class="text-center pt-4 pb-4">
        <h2 class="text-center text-white pt-4 pb-4">Fundamentos te está esperando. Iniciate en el mundo de Lairen ahora!</h2>
        <a (click)="onButtonClick('botonTiendas')" routerLink="/tiendas" class="btn btn-outline-warning">Comprar!</a>
      </div>
  </div>
</section>
