<div class="formulario text-center">
  <div class="container">
    <h2 class="m-4">Registro de un jugador nuevo</h2>
    <div class="row mb-4">
      <form (ngSubmit)="onSubmit()" [formGroup]="contactForm">
        <div class="col">

          <div class="m-4">
            <label class="form-label display-text" for="formularioNombre">Nombre</label><br>
            <input [ngModel]="jugador.nombre" (ngModelChange)="nombreInput = $event.toUpperCase()"
              formControlName="formularioNombre" name="formularioNombre"
              [class.is-invalid]="contactForm.get('formularioNombre').invalid && contactForm.get('formularioNombre').touched"
              type="text" id="formularioNombre" class="formulario-input bg-light form-control "
              formControlName="formularioNombre" required />
            <div
              *ngIf="contactForm.get('formularioNombre')?.touched && contactForm.get('formularioNombre')?.errors?.['required'] "
              class="alert alert-danger formulario-error text-center mt-3">*El campo de nombre es obligatorio</div>
            <div
              *ngIf="contactForm.get('formularioNombre')?.touched && contactForm.get('formularioNombre')?.errors?.['minlength'] "
              class="alert alert-danger formulario-error mt-3">*El campo de nombre debe contener al menos
              {{contactForm.get('formularioNombre')?.errors?.['minlength'].requiredLength}} letras</div>
          </div>

          <div class="m-4">
            <label class="form-label display-text" for="formularioApellido">Apellido</label><br>
            <input [ngModel]="jugador.apellido" (ngModelChange)="apellidoInput = $event.toUpperCase()"
              formControlName="formularioApellido" name="formularioApellido"
              [class.is-invalid]="contactForm.get('formularioApellido').invalid && contactForm.get('formularioApellido').touched"
              type="text" id="formularioApellido" class="formulario-input bg-light form-control "
              formControlName="formularioApellido" required />
            <div
              *ngIf="contactForm.get('formularioApellido')?.touched && contactForm.get('formularioApellido')?.errors?.['required'] "
              class="alert alert-danger formulario-error text-center mt-3">*El campo de Apellido es obligatorio</div>
            <div
              *ngIf="contactForm.get('formularioApellido')?.touched && contactForm.get('formularioApellido')?.errors?.['minlength'] "
              class="alert alert-danger formulario-error mt-3">*El campo de Apellido debe contener al menos
              {{contactForm.get('formularioApellido')?.errors?.['minlength'].requiredLength}} letras</div>
          </div>

          <div class="m-4">
            <label class="form-label display-text" for="formularioGID">GID</label><br>
            <input [ngModel]="jugador.gid" formControlName="formularioGID" name="formularioGID"
              [class.is-invalid]="contactForm.get('formularioGID').invalid && contactForm.get('formularioGID').touched"
              type="text" id="formularioGID" class="formulario-input bg-light form-control "
              formControlName="formularioGID" required />
            <div
              *ngIf="contactForm.get('formularioGID')?.touched && contactForm.get('formularioGID')?.errors?.['required'] "
              class="alert alert-danger formulario-error text-center mt-3">*El campo de GID es obligatorio</div>
            <div
              *ngIf="contactForm.get('formularioGID')?.touched && contactForm.get('formularioGID')?.errors?.['minlength'] "
              class="alert alert-danger formulario-error mt-3">*El campo de GID debe contener al menos
              {{contactForm.get('formularioGID')?.errors?.['minlength'].requiredLength}} letras</div>
          </div>

          <div class="m-4">
            <label class="form-label display-text" for="formularioRango">Rango</label><br>
            <input [ngModel]="jugador.rango" formControlName="formularioRango" name="formularioRango"
              [class.is-invalid]="contactForm.get('formularioRango').invalid && contactForm.get('formularioRango').touched"
              type="text" id="formularioRango" class="formulario-input bg-light form-control "
              formControlName="formularioRango" required />
            <div
              *ngIf="contactForm.get('formularioRango')?.touched && contactForm.get('formularioRango')?.errors?.['required'] "
              class="alert alert-danger formulario-error text-center mt-3">*El campo de Rango es obligatorio</div>
            <div
              *ngIf="contactForm.get('formularioRango')?.touched && contactForm.get('formularioRango')?.errors?.['minlength'] "
              class="alert alert-danger formulario-error mt-3">*El campo de Rango debe contener al menos
              {{contactForm.get('formularioRango')?.errors?.['minlength'].requiredLength}} letras</div>
          </div>

          <div class="m-4">
            <label class="form-label display-text" for="formularioPuntos">Puntos</label><br>
            <input [ngModel]="jugador.puntos" formControlName="formularioPuntos" name="formularioPuntos"
              [class.is-invalid]="contactForm.get('formularioPuntos').invalid && contactForm.get('formularioPuntos').touched"
              type="text" id="formularioPuntos" class="formulario-input bg-light form-control "
              formControlName="formularioPuntos" required />
            <div
              *ngIf="contactForm.get('formularioPuntos')?.touched && contactForm.get('formularioPuntos')?.errors?.['required'] "
              class="alert alert-danger formulario-error text-center mt-3">*El campo de Puntos es obligatorio</div>
            <div
              *ngIf="contactForm.get('formularioPuntos')?.touched && contactForm.get('formularioPuntos')?.errors?.['minlength'] "
              class="alert alert-danger formulario-error mt-3">*El campo de Puntos debe contener al menos
              {{contactForm.get('formularioPuntos')?.errors?.['minlength'].requiredLength}} letras</div>
          </div>

          <button (click)="onSubmit()" [swal]="['Hecho!', 'Has registrado un nuevo Jugador', 'success']"
            [disabled]="contactForm.invalid" type="submit" id="enviarFormulario"
            class="btn btn-warning btn-block btn-lg mb-4 mt-4">Actualizar Jugador
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
