<div *ngIf="esverdad == true" class="formulario text-center">
  <div class="container">
    <h2 class="m-4">Actualizar expansión</h2>
    <div class="row mb-4">
      <form (ngSubmit)="onSubmit()" [formGroup]="contactForm">
        <div class="col">
          <div class="m-4">
            <label class="form-label display-text" for="formularioExpansionNombre">Nombre</label><br>
            <input [ngModel]="expansion.nombreExpansion" (ngModelChange)="expansion.nombreExpansion = $event.toUpperCase()"
              formControlName="formularioExpansionNombre" name="formularioExpansionNombre"
              [class.is-invalid]="contactForm.get('formularioExpansionNombre').invalid && contactForm.get('formularioExpansionNombre').touched"
              type="text" id="formularioExpansionNombre" class="formulario-input bg-light form-control "
              formControlName="formularioExpansionNombre" required />
            <div
              *ngIf="contactForm.get('formularioExpansionNombre')?.touched && contactForm.get('formularioExpansionNombre')?.errors?.['required'] "
              class="alert alert-danger formulario-error text-center mt-3">*El campo de nombre es obligatorio</div>
            <div
              *ngIf="contactForm.get('formularioExpansionNombre')?.touched && contactForm.get('formularioExpansionNombre')?.errors?.['minlength'] "
              class="alert alert-danger formulario-error mt-3">*El campo de nombre debe contener al menos
              {{contactForm.get('formularioExpansionNombre')?.errors?.['minlength'].requiredLength}} letras</div>
          </div>

          <button (click)="onSubmit()"
            [disabled]="contactForm.invalid" type="submit" id="enviarFormulario"
            class="btn btn-warning btn-block btn-lg m-2">Guardar edición
          </button>

          <button (click)="regresarListaExpansiones()" type="button" id="enviarFormulario"
            class="btn btn-warning btn-block btn-lg m-2">Volver
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
