.swiper {
  width: 92%;
  height: 100%;
  background: #fff;
  border-radius:0.7rem;
  padding: 30px;
}

.swiper:hover {
  cursor: pointer;
}

.swiper-slide {
  /* text-align: center; */
  font-size: 18px;
  /* display: flex; */
  justify-content: center;
  align-items: center;

}

.swiper-slide img {
  display: block;
  height: auto;
  object-fit: cover;
}

.texto-nombre {
  margin: 2px;
}
.texto-sucursal {
  font-weight: bold;
  font-size: 12px;
  margin: 4px;
}
.texto-precio {
  font-weight: bold;
  font-size: 20px;
  margin: 4px;
}
