<div class="container" >
  <!-- Swiper -->
  <div class="swiper mySwiper">
    <div class="swiper-wrapper">
      <!-- Usa *ngFor para iterar sobre los productos -->
      <div class="swiper-slide" *ngFor="let producto of productos">
        <img width="100" [src]="producto.imagenUrl" alt="{{ producto.nombre }}">
        <div>{{ producto.nombre }}</div>
        <div>{{ producto.precio | currency }}</div>
      </div>
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>
</div>
