.swiper {
  width: 92%;
  height: 100%;
  background: #fff;
  border-radius:0.7rem;
  padding: 30px;
}

.swiper:hover {
  cursor: pointer;
}

.swiper-slide {
  /* text-align: center; */
  font-size: 18px;
  /* display: flex; */
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  height: auto;
  object-fit: cover;
  padding-right: 50px;
  width: auto;
  max-height: 130px;
  margin: auto;
}

.texto-nombre {
  margin: 2px;
  font-size: 15px;
}
.texto-sucursal {
  font-weight: bold;
  font-size: 11px;
  margin: 4px;
}
.texto-precio {
  font-weight: bold;
  font-size: 20px;
  margin: 3px;
}

.podriaInteresarte {
  margin-bottom: 10px;
  margin-left: 50px;
}

.swiper-button-next {
  color: #4a933c !important; /* Cambia el color de la flecha a amarillo */
}

@media (max-width: 500px) {

  .swiper {
    height: auto;
  }

  .swiper-slide img {
    max-height: 90px;
  }

  .swiper-wrapper {
    height: auto;
  }

  .podriaInteresarte {
    margin-bottom: 10px;
    margin-left: 10px;
  }

  .texto-nombre {
    font-size: 14px;
  }

  .texto-sucursal {
    font-size: 12px;
  }

  .texto-precio {
    font-size: 14px;
  }

  .swiper-slide {
    height: auto; /* Ajusta la altura según sea necesario para móviles */
  }

  .mySwiperCarrusel {
    height: auto; /* Esto ajustará la altura de la imagen para mantener la proporción */
    width: 100%;
  }
}

