.registro-container {
  background: #f7f7f7;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 450px; /* Reducido para tamaños más pequeños */
  margin: auto;
}

@media (max-width: 768px) {
  .registro-container {
    width: 90%; /* Ajusta el ancho en dispositivos móviles */
  }
}

.form-group {
  margin-bottom: 20px;
}

.form-control {
  border: 1px solid #ddd;
  border-radius: 20px;
  padding: 12px;
  font-size: 16px;
}

.form-control:focus {
  outline: none;
  border-color: #4a933c;
  box-shadow: 0 0 0 2px rgba(139, 195, 74, 0.3);
}

.btn-warning {
  width: 100%; /* Ajusta el ancho del botón */
  border-radius: 20px;
  padding: 10px 0;
}

.text-center {
  text-align: center;
}

.d-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

