@import '~swiper/swiper.min.css';
@import '~swiper/modules/effect-cards/effect-cards.min.css';
@import '~swiper/modules/navigation/navigation.min.css';
@import '~swiper/modules/pagination/pagination.min.css';

  .swiper {
    width: 340px;
    height: 460px;
  }

  .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .carta-carrusel {
    width: 340px;
  }

  @media (max-width: 600px) {
    .swiper {
      height: auto;
      width: 60%;

    }

    .carta-carrusel {
      width: 70%;
      height: auto;

    }
  }
