<swiper [effect]="'cards'" [grabCursor]="true" class="mySwiper">

  <ng-template swiperSlide>
    <img class="carta-carrusel" src="https://i.postimg.cc/KYjJB13t/asesino-contratado-FULL-ART-copias-36.jpg" alt="">
  </ng-template>

  <ng-template swiperSlide>
    <img class="carta-carrusel" src="https://i.postimg.cc/B6xYQd1z/caido-en-batalla-copia-80.jpg" alt="">
  </ng-template>

  <ng-template swiperSlide>
    <img class="carta-carrusel" src="https://i.postimg.cc/d359hvQ5/aixa-la-guerrera-copia-82.jpg" alt="">
  </ng-template>

  <ng-template swiperSlide>
    <img class="carta-carrusel" src="https://i.postimg.cc/gkBDdYTJ/ciudad-en-llamas-copias-60.jpg" alt="">
  </ng-template>

  <ng-template swiperSlide>
    <img class="carta-carrusel" src="https://i.postimg.cc/VkCj8XtG/General-de-combate-copia-90.jpg" alt="">
  </ng-template>

  <ng-template swiperSlide>
    <img class="carta-carrusel" src="https://i.postimg.cc/Zqz6K0FT/severus-el-concejero-copia-96.jpg" alt="">
  </ng-template>

  <ng-template swiperSlide>
    <img class="carta-carrusel" src="https://i.postimg.cc/R0vqDtLn/Frente-de-ataque-FULL-ART-copias-36.jpg" alt="">
  </ng-template>

  <ng-template swiperSlide>
    <img class="carta-carrusel" src="https://i.postimg.cc/ncvDSnfg/Planes-Frustrados-copia-44.jpg" alt="">
  </ng-template>

</swiper>
