<div class="fondo-gris pt-3 pb-5">
  <div class="container">
    <p class="textoTitular">Política de devolución</p>
    <div class="pt-2 pb-4">

      <div class="contenedor pt-3 pb-3 ps-3 pe-3 pt-lg-5 pb-lg-5 ps-lg-5 pe-lg-5">

        <h5>DEVOLUCIÓN DE PRODUCTOS - REPUESTOSCELU</h5>

        <p>La propiedad del producto se transfiere al cliente cuando el cliente PAGA Y TOMA posesión del producto o articulo. En este sentido solicitamos que inspeccione todos los productos inmediatamente después de recibirlos en el domicilio que eligió como destinatario o de retirarlos en el punto de venta de REPUESTOCELU.</p>


        <p>Todos los productos (ya sean nuevos, reacondicionados de fábrica o reacondicionados por terceros) se venden “como están”, sin más garantía que la garantía limitada del fabricante aplicable a cada producto, a menos que se especifique lo contrario en la orden de venta correspondiente. REPUESTOCELU solo reconoce las garantías que estén atribuida por las leyes de la República Argentina. Las devoluciones relacionadas con la garantía del fabricante pueden estar sujetas a los términos y condiciones específicos de la garantía del fabricante correspondiente y las políticas de devolución del fabricante correspondientes al producto devuelto.
        Se pierde la garantía del producto, cuando el producto es dañado físicamente debido a:  abuso del usuario y/o manejo inadecuado; intento de reparar, agregarle algo o rehacer el producto, o modificar y/o desfigurar el sello de garantía, el número de serie y/o las etiquetas del fabricante original. La garantía del producto también queda anulada, si falta el número de serie del producto en el momento de la devolución.</p>

        <p>No trate de devolver ningún producto antes de solicitar y recibir un número de RMA (Return Merchandise Authorization) (Autorización de Devolución de Mercancía) del Departamento RMA de REPUESTOSCELU.  Para ello ingrese en su panel de cliente desde la web www.repuestoscelu.com.ar y complete el formulario de RMA o comuníquese con el Departamento RMA  por correo electrónico a info@repuestoscelu.com.ar para obtener más detalles.</p>

        <p>Todas las ventas son finales. REPUESTOSCELU no ofrece reembolsos ni protección de precios. Al devolver cualquier producto a REPUESTOSCELU, usted declara y garantiza que el producto devuelto fue comprado a REPUESTOSCELU, no es falsificado o no conforme, y no viola la Política de garantía y RMA de REPUESTOSCELU. También acepta que REPUESTOSCELU puede probar cualquier producto devuelto para determinar si dicho producto es falsificado, no conforme o si infringe la Política de garantía y RMA de REPUESTOSCELU.
        En el caso de que REPUESTOSCELU determine, a su sola discreción, que cualquier producto devuelto es falsificado, o, en cierto modo, no es idéntico, o viola la Política de RMA y Garantía de BYMIA, la empresa puede (i) informar dicho problema a cualquier agencia gubernamental o reguladora aplicable o cualquier otro tercero aplicable; (ii) poner en cuarentena dicho producto para realizar más pruebas u otros análisis; y/o (iii) tomar otras medidas que puedan ser requeridas o permitidas por la ley aplicable</p>

      </div>

    </div>
  </div>
</div>
