<div *ngIf="esverdad == true" class="formulario text-center">
  <div class="container">
    <h2 class="m-4">Actualizar Tipo</h2>
    <div class="row mb-4">
      <form (ngSubmit)="onSubmit()" [formGroup]="contactForm">
        <div class="col">
          <div class="m-4">
            <label class="form-label display-text" for="formularioTipoNombre">Nombre</label><br>
            <input [ngModel]="tipo.nombreTipo" (ngModelChange)="tipo.nombreTipo = $event.toUpperCase()"
              formControlName="formularioTipoNombre" name="formularioTipoNombre"
              [class.is-invalid]="contactForm.get('formularioTipoNombre').invalid && contactForm.get('formularioTipoNombre').touched"
              type="text" id="formularioTipoNombre" class="formulario-input bg-light form-control "
              formControlName="formularioTipoNombre" required />
            <div
              *ngIf="contactForm.get('formularioTipoNombre')?.touched && contactForm.get('formularioTipoNombre')?.errors?.['required'] "
              class="alert alert-danger formulario-error text-center mt-3">*El campo de nombre es obligatorio</div>
            <div
              *ngIf="contactForm.get('formularioTipoNombre')?.touched && contactForm.get('formularioTipoNombre')?.errors?.['minlength'] "
              class="alert alert-danger formulario-error mt-3">*El campo de nombre debe contener al menos
              {{contactForm.get('formularioTipoNombre')?.errors?.['minlength'].requiredLength}} letras</div>
          </div>

          <button (click)="onSubmit()"
            [disabled]="contactForm.invalid" type="submit" id="enviarFormulario"
            class="btn btn-warning btn-block btn-lg m-2">Guardar edición
          </button>

          <button (click)="regresarListaTipos()" type="button" id="enviarFormulario"
            class="btn btn-warning btn-block btn-lg m-2">Volver
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
