<app-adminnavbar></app-adminnavbar>

<div class="formulario text-center">
  <div class="container">
    <h2 class="m-4">Registro de un jugador nuevo</h2>
    <div class="row mb-4">
      <form (ngSubmit)="onSubmitJugador()" [formGroup]="contactForm">
        <div class="col">

          <div class="m-4">
            <label class="form-label display-text" for="formularioNombre">Nombre</label><br>
            <input [ngModel]="nombreInput" (ngModelChange)="nombreInput = $event.toUpperCase()"
              formControlName="formularioNombre" name="formularioNombre"
              [class.is-invalid]="contactForm.get('formularioNombre').invalid && contactForm.get('formularioNombre').touched"
              type="text" id="formularioNombre" class="formulario-input bg-light form-control "
              formControlName="formularioNombre" required />
            <div
              *ngIf="contactForm.get('formularioNombre')?.touched && contactForm.get('formularioNombre')?.errors?.['required'] "
              class="alert alert-danger formulario-error text-center mt-3">*El campo de nombre es obligatorio</div>
            <div
              *ngIf="contactForm.get('formularioNombre')?.touched && contactForm.get('formularioNombre')?.errors?.['minlength'] "
              class="alert alert-danger formulario-error mt-3">*El campo de nombre debe contener al menos
              {{contactForm.get('formularioNombre')?.errors?.['minlength'].requiredLength}} letras</div>
          </div>

          <div class="m-4">
            <label class="form-label display-text" for="formularioApellido">Apellido</label><br>
            <input [ngModel]="apellidoInput" (ngModelChange)="apellidoInput = $event.toUpperCase()"
              formControlName="formularioApellido" name="formularioApellido"
              [class.is-invalid]="contactForm.get('formularioApellido').invalid && contactForm.get('formularioApellido').touched"
              type="text" id="formularioApellido" class="formulario-input bg-light form-control "
              formControlName="formularioApellido" required />
            <div
              *ngIf="contactForm.get('formularioApellido')?.touched && contactForm.get('formularioApellido')?.errors?.['required'] "
              class="alert alert-danger formulario-error text-center mt-3">*El campo de Apellido es obligatorio</div>
            <div
              *ngIf="contactForm.get('formularioApellido')?.touched && contactForm.get('formularioApellido')?.errors?.['minlength'] "
              class="alert alert-danger formulario-error mt-3">*El campo de Apellido debe contener al menos
              {{contactForm.get('formularioApellido')?.errors?.['minlength'].requiredLength}} letras</div>
          </div>

          <div class="m-4">
            <label class="form-label display-text" for="formularioDNI">DNI</label><br>
            <input formControlName="formularioDNI" name="formularioDNI"
              [class.is-invalid]="contactForm.get('formularioDNI').invalid && contactForm.get('formularioDNI').touched"
              type="text" id="formularioDNI" class="formulario-input bg-light form-control "
              formControlName="formularioDNI" required />
            <div
              *ngIf="contactForm.get('formularioDNI')?.touched && contactForm.get('formularioDNI')?.errors?.['required'] "
              class="alert alert-danger formulario-error text-center mt-3">*El campo de DNI es obligatorio</div>
            <div
              *ngIf="contactForm.get('formularioDNI')?.touched && contactForm.get('formularioDNI')?.errors?.['minlength'] "
              class="alert alert-danger formulario-error mt-3">*El campo de DNI debe contener al menos
              {{contactForm.get('formularioDNI')?.errors?.['minlength'].requiredLength}} letras</div>
          </div>

          <div class="m-4">
            <label class="form-label display-text" for="formularioRango">Rango</label><br>
            <input formControlName="formularioRango" name="formularioRango"
              [class.is-invalid]="contactForm.get('formularioRango').invalid && contactForm.get('formularioRango').touched"
              type="text" id="formularioRango" class="formulario-input bg-light form-control "
              formControlName="formularioRango" required />
            <div
              *ngIf="contactForm.get('formularioRango')?.touched && contactForm.get('formularioRango')?.errors?.['required'] "
              class="alert alert-danger formulario-error text-center mt-3">*El campo de Rango es obligatorio</div>
            <div
              *ngIf="contactForm.get('formularioRango')?.touched && contactForm.get('formularioRango')?.errors?.['minlength'] "
              class="alert alert-danger formulario-error mt-3">*El campo de Rango debe contener al menos
              {{contactForm.get('formularioRango')?.errors?.['minlength'].requiredLength}} letras</div>
          </div>

          <div class="m-4">
            <label class="form-label display-text" for="formularioPuntos">Puntos</label><br>
            <input formControlName="formularioPuntos" name="formularioPuntos"
              [class.is-invalid]="contactForm.get('formularioPuntos').invalid && contactForm.get('formularioPuntos').touched"
              type="text" id="formularioPuntos" class="formulario-input bg-light form-control "
              formControlName="formularioPuntos" required />
            <div
              *ngIf="contactForm.get('formularioPuntos')?.touched && contactForm.get('formularioPuntos')?.errors?.['required'] "
              class="alert alert-danger formulario-error text-center mt-3">*El campo de Puntos es obligatorio</div>
            <div
              *ngIf="contactForm.get('formularioPuntos')?.touched && contactForm.get('formularioPuntos')?.errors?.['minlength'] "
              class="alert alert-danger formulario-error mt-3">*El campo de Puntos debe contener al menos
              {{contactForm.get('formularioPuntos')?.errors?.['minlength'].requiredLength}} letras</div>
          </div>
          <button [disabled]="contactForm.invalid" type="submit" id="enviarFormulario"
            class="btn btn-warning btn-block btn-lg mb-4 mt-4">Registrar Jugador
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="container">
  <h1 class="text-center display-text pt-5 mb-4">Registrar un partido</h1>

  <form (ngSubmit)="enviarResultadosPartido()" [formGroup]="contactFormPartidos">
    <div class="row">
      <div class="col">
          <label for="ganadorSelect">Ganador:</label>
          <select formControlName="formularioJugadorGanador" class="form-control" id="formularioJugadorGanador" >
              <option *ngFor="let jugador of jugadoresPorNombre" [ngValue]="jugador">
                {{jugador.nombre}} {{jugador.apellido}}
              </option>
          </select>
      </div>

      <div class="col">
          <label for="perdedorSelect">Perdedor:</label>
          <select class="form-control" id="formularioJugadorPerdedor" formControlName="formularioJugadorPerdedor">
              <option *ngFor="let jugador of jugadoresPorNombre" [ngValue]="jugador">
                {{jugador.nombre}} {{jugador.apellido}}
              </option>
          </select>
      </div>
      <button class="btn btn-warning mt-4 btn-sm" type="submit">Enviar Resultados del Partido</button>
  </div>
</form>


<div class="container">
  <h1 class="text-center display-text pt-5">Lista de Jugadores subidas a la base</h1>
</div>

<div class="container">
  <h2 class="text-center display-text mt-4 mb-4">Ranking de rangos</h2>

  <table class="table table-striped mb-4 text-center">
    <thead class="table">
      <tr>
        <th class="display-text">ID</th>
        <th class="display-text">Nombre</th>
        <th class="display-text">Apellido</th>
        <th class="display-text">Dni</th>
        <th class="display-text">Rango</th>
        <th class="display-text">Puntos</th>
      </tr>
    </thead>
    <tbody *ngFor="let player of jugadores | paginate: { itemsPerPage: 30, currentPage: p } ">
      <tr>
        <td class="display-text">{{player.id}}</td>
        <td class="display-text">{{player.nombre}}</td>
        <td class="display-text">{{player.apellido}}</td>
        <td class="display-text">{{player.dni}}</td>
        <td class="display-text">{{player.rango}}</td>
        <td class="display-text">{{player.puntos}}</td>
        <td>
          <button type="button" class="btn btn-outline-warning m-2"
            [swal]="{ title: '¿Estás seguro que quieres editar la carta?', showDenyButton: true, denyButtonText: 'Cancelar', icon: 'question'}"
            (confirm)="actualizarJugador(player.id)" (deny)="limpiarFormulario()" (dismiss)="mostrarJugadores()">
            Editar
          </button>

          <button type="button" class="btn btn-outline-danger m-2"
            [swal]="{ title: '¿Estás seguro que quieres eliminar esta Rareza?', showDenyButton: true, denyButtonText: 'Cancelar', icon: 'question'}"
            (confirm)="eliminarJugador(player.dni)" (deny)="limpiarFormulario()" (dismiss)="mostrarJugadores()">
            Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>
  <pagination-controls previousLabel="Anterior" nextLabel="Siguiente" class="m-5 my-pagination"
    (pageChange)="p = $event"></pagination-controls>
</div>
