<section id="nuestra-experiencia" class="fondo-web pb-5 pt-5">
  <div class="container pb-5 pt-5">
    <div class="d-flex justify-content-center align-items-center">
      <img class="logo pb-4" width="300" src="../../../../assets/images/pacto/logo pacto secreto.png" alt="Fundamentos">
  </div>
    <h3 class="text-white text-center pb-5 ">La primera expansión de Lairen ya está cerca!</h3>
      <div class="align-items-center g-4 row">
          <div data-aos="fade-up"
          data-aos-offset="10"
          data-aos-duration="1000"
          data-aos-easing="ease-in-out"
          data-aos-anchor-placement="top-center" class="col-lg-5 me-auto ms-auto pt-lg-5">
              <h2 class="h6 text-uppercase display-text text-white">Caja de Formato Aventura</h2>
              <h3 class="h1 text-dark display-text text-white">Pacto Secreto, el momento dónde subimos el nivel</h3>
              <p class="lead mb-4 display-text text-white">La caja de 6 boosters es el producto con el cuál la expansión será lanzado. Con este producto podrás incorporar nuevas estrategias que hemos diseñado para que tu mazo sea más personalizado que nunca.</p>
          </div>
          <div data-aos="fade-up"
          data-aos-offset="10"
          data-aos-duration="1000"
          data-aos-easing="ease-in-out"
          data-aos-anchor-placement="top-center" class="col-lg-6 mt-lg-n4 ps-lg-4 text-center">
              <img src="../../../../assets/images/pacto/caja pacto de boosters.png"
                  class="img-fluid w-100" />
          </div>
      </div>

      <div class="row align-items-center g-4">
        <div class="col-lg-6 order-2 order-lg-1 mt-lg-n4 ps-lg-4 text-center" data-aos="fade-up"
        data-aos-offset="10"
        data-aos-duration="1000"
        data-aos-easing="ease-in-out"
        data-aos-anchor-placement="top-center">
          <img src="../../../../assets/images/pacto/Las minas de Rafet.png"
            class="img-fluid cartas" />
        </div>
        <div class="col-lg-5 order-1 order-lg-2 me-auto ms-auto pt-lg-5" data-aos="fade-up"
        data-aos-offset="10"
        data-aos-duration="1000"
        data-aos-easing="ease-in-out"
        data-aos-anchor-placement="top-center">
          <h3 class="h1 text-dark display-text text-white">118 cartas nuevas para personalizar tu mazo</h3>
          <p class="lead mb-4 display-text text-white">Brujas, animales, piratas, elementales, magos, demonios, dragones, y otras sorpresas que tenemos para vos. Además, se incorporan los monumentos, un nuevo tipo de carta que incorporará también nuevas jugadas para nuestros generales.</p>
        </div>
      </div>


      <div class="align-items-center g-4 row pt-5">

        <div data-aos="fade-up"
        data-aos-offset="10"
        data-aos-duration="1000"
        data-aos-easing="ease-in-out"
        data-aos-anchor-placement="top-center" class="col-lg-12 mt-lg-n4 ps-lg-4 text-center pt-5">
            <img src="../../../../assets/images/pacto/caja booster pacto cerrada.png"
                class="img-fluid" />
        </div>

    </div>


      <!-- <div class="pt-4 pb-4">
        <h2 class="text-center text-white pt-4 pb-4">¿Te gustaría ver directamente todas las cartas en imágenes? Andá pasándolas para verlas todas!</h2>
        <app-carrusel-cartas></app-carrusel-cartas>
      </div> -->

      <div class="text-center pt-4 pb-4">
        <h2 class="text-center text-white pt-4 pb-4">Pacto Secreto te está esperando. Accedé a la preventa ahora!</h2>
        <a (click)="onButtonClick('botonTiendas')" routerLink="/tiendas" class="btn btn-outline-warning">Comprar!</a>
      </div>
  </div>
</section>

