<div class="fondo-gris">

  <section class="primer-fondo hero-block pb-5 position-relative pt-5 text-white-50">
    <div class="col-lg-8 end-0 h-100 position-absolute top-0">
    </div>
    <div class="container pb-5 position-relative pt-5">
      <div class="align-items-center gy-4 row">
        <div class="col-lg-12 text-center textos pb-4">
          <h1 class="display-3 fw-bold text-uppercase titulo-inicial text-white">Este es tu lugar en Lairen</h1>
          <p class="lead mb-4 text-white pe-sm-5 parrafo">Iniciá sesión o registrate para empezar!</p>
        </div>
      </div>
    </div>
  </section>


  <div class="formulario text-center pt-5 pb-5">
    <div class="container">
      <h2 class="m-4 text-white">Registro de un nuevo usuario</h2>
      <div class="row mb-4">
        <form [formGroup]="contactForm">
          <div class="col">

            <div class="m-4">
              <label class="form-label display-text text-white" for="formularioUsernameUsuario">Username</label><br>
              <input placeholder="Ingrese su username"
                formControlName="formularioUsernameUsuario" name="formularioUsernameUsuario"
                [class.is-invalid]="contactForm.get('formularioUsernameUsuario').invalid && contactForm.get('formularioUsernameUsuario').touched"
                type="text" id="formularioUsernameUsuario" class="formulario-input bg-light form-control "
                formControlName="formularioUsernameUsuario" required />
              <div
                *ngIf="contactForm.get('formularioUsernameUsuario')?.touched && contactForm.get('formularioUsernameUsuario')?.errors?.['required'] "
                class="alert alert-danger formulario-error text-center mt-3">*El campo de username es obligatorio</div>
              <div
                *ngIf="contactForm.get('formularioUsernameUsuario')?.touched && contactForm.get('formularioUsernameUsuario')?.errors?.['minlength'] "
                class="alert alert-danger formulario-error mt-3">*El campo de username debe contener al menos
                {{contactForm.get('formularioUsernameUsuario')?.errors?.['minlength'].requiredLength}} letras</div>
            </div>

            <div class="m-4">
              <label class="form-label display-text text-white" for="formularioPasswordUsuario">Contraseña</label><br>
              <input placeholder="Ingrese su contraseña"
                formControlName="formularioPasswordUsuario" name="formularioPasswordUsuario"
                [class.is-invalid]="contactForm.get('formularioPasswordUsuario').invalid && contactForm.get('formularioPasswordUsuario').touched"
                type="password" id="formularioPasswordUsuario" class="formulario-input bg-light form-control "
                formControlName="formularioPasswordUsuario" required />
              <div
                *ngIf="contactForm.get('formularioPasswordUsuario')?.touched && contactForm.get('formularioPasswordUsuario')?.errors?.['required'] "
                class="alert alert-danger formulario-error text-center mt-3">*El campo de contraseña es obligatorio</div>
              <div
                *ngIf="contactForm.get('formularioPasswordUsuario')?.touched && contactForm.get('formularioPasswordUsuario')?.errors?.['minlength'] "
                class="alert alert-danger formulario-error mt-3">*El campo de contraseña debe contener al menos
                {{contactForm.get('formularioPasswordUsuario')?.errors?.['minlength'].requiredLength}} letras</div>
            </div>

            <div class="m-4">
              <label class="form-label display-text text-white" for="formularioEmailUsuario">Email</label><br>
              <input placeholder="Ingrese su email"
                formControlName="formularioEmailUsuario" name="formularioEmailUsuario"
                [class.is-invalid]="contactForm.get('formularioEmailUsuario').invalid && contactForm.get('formularioEmailUsuario').touched"
                type="email" id="formularioEmailUsuario" class="formulario-input bg-light form-control "
                formControlName="formularioEmailUsuario" required />
              <div
                *ngIf="contactForm.get('formularioEmailUsuario')?.touched && contactForm.get('formularioEmailUsuario')?.errors?.['required'] "
                class="alert alert-danger formulario-error text-center mt-3">*El campo de Email es obligatorio</div>
              <div
                *ngIf="contactForm.get('formularioEmailUsuario')?.touched && contactForm.get('formularioEmailUsuario')?.errors?.['minlength'] "
                class="alert alert-danger formulario-error mt-3">*El campo de Email debe contener al menos
                {{contactForm.get('formularioEmailUsuario')?.errors?.['minlength'].requiredLength}} letras</div>
            </div>

            <div class="m-4">
              <label class="form-label display-text text-white" for="formularioNombreUsuario">Nombre</label><br>
              <input placeholder="Ingrese su nombre"
                formControlName="formularioNombreUsuario" name="formularioNombreUsuario"
                [class.is-invalid]="contactForm.get('formularioNombreUsuario').invalid && contactForm.get('formularioNombreUsuario').touched"
                type="text" id="formularioNombreUsuario" class="formulario-input bg-light form-control "
                formControlName="formularioNombreUsuario" required />
              <div
                *ngIf="contactForm.get('formularioNombreUsuario')?.touched && contactForm.get('formularioNombreUsuario')?.errors?.['required'] "
                class="alert alert-danger formulario-error text-center mt-3">*El campo de Nombre es obligatorio</div>
              <div
                *ngIf="contactForm.get('formularioNombreUsuario')?.touched && contactForm.get('formularioNombreUsuario')?.errors?.['minlength'] "
                class="alert alert-danger formulario-error mt-3">*El campo de Nombre debe contener al menos
                {{contactForm.get('formularioNombreUsuario')?.errors?.['minlength'].requiredLength}} letras</div>
            </div>

            <div class="m-4">
              <label class="form-label display-text text-white" for="formularioApellidoUsuario">Apellido</label><br>
              <input placeholder="Ingrese su apellido"
                formControlName="formularioApellidoUsuario" name="formularioApellidoUsuario"
                [class.is-invalid]="contactForm.get('formularioApellidoUsuario').invalid && contactForm.get('formularioApellidoUsuario').touched"
                type="text" id="formularioApellidoUsuario" class="formulario-input bg-light form-control "
                formControlName="formularioApellidoUsuario" required />
              <div
                *ngIf="contactForm.get('formularioApellidoUsuario')?.touched && contactForm.get('formularioApellidoUsuario')?.errors?.['required'] "
                class="alert alert-danger formulario-error text-center mt-3">*El campo de Apellido es obligatorio</div>
              <div
                *ngIf="contactForm.get('formularioApellidoUsuario')?.touched && contactForm.get('formularioApellidoUsuario')?.errors?.['minlength'] "
                class="alert alert-danger formulario-error mt-3">*El campo de Apellido debe contener al menos
                {{contactForm.get('formularioApellidoUsuario')?.errors?.['minlength'].requiredLength}} letras</div>
            </div>

            <!-- <div class="m-4">
              <label class="form-label display-text" for="formularioUbicacionUsuario">Ubicación</label><br>
              <input placeholder="Ingrese su Apellido"
                formControlName="formularioApellidoUsuario" name="formularioApellidoUsuario"
                [class.is-invalid]="contactForm.get('formularioApellidoUsuario').invalid && contactForm.get('formularioApellidoUsuario').touched"
                type="Nombre" id="formularioApellidoUsuario" class="formulario-input bg-light form-control "
                formControlName="formularioApellidoUsuario" required />
              <div
                *ngIf="contactForm.get('formularioApellidoUsuario')?.touched && contactForm.get('formularioApellidoUsuario')?.errors?.['required'] "
                class="alert alert-danger formulario-error text-center mt-3">*El campo de Apellido es obligatorio</div>
              <div
                *ngIf="contactForm.get('formularioApellidoUsuario')?.touched && contactForm.get('formularioApellidoUsuario')?.errors?.['minlength'] "
                class="alert alert-danger formulario-error mt-3">*El campo de Apellido debe contener al menos
                {{contactForm.get('formularioApellidoUsuario')?.errors?.['minlength'].requiredLength}} letras</div>
            </div> -->

            <button (click)="registrarse()" class="btn btn-warning btn-block btn-lg mb-4 mt-4 ms-4">Registrarse</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
