<div class="container mt-5">
  <h2 class="text-center">Folleto de productos</h2>
  <h4 class="text-center pt-2"> Dolar: ${{cotizacionMostrada}} </h4>
  <p class="text-center pt-2 pb-2">Al comprar entre 3 a 6 unidades, recibirás un 30% de descuento sobre el precio final. <b>Envío no incluido en esta opción de compra.</b></p>
  <p class="text-center pt-2 pb-2">Al comprar entre 7 a 10 unidades, recibirás un 35% de descuento sobre el precio final. <b>Envío no incluido en esta opción de compra.</b></p>
  <p class="text-center pt-2 pb-2">Al comprar entre 11 a 79 unidades, recibirás un 40% de descuento sobre el precio final.</p>
  <p class="text-center pt-2 pb-2">Al comprar más de 80 unidades, recibirás un 45% de descuento sobre el precio final.</p>

  <div class="table-responsive" >
    <table class="table table-bordered table-responsive-lg pt-2 ">
      <thead class="thead-light">
        <tr>
          <th>Imagen</th>
          <th class="d-none d-md-table-cell" >Nombre del Producto</th>
          <th>Peso (kg)</th>
          <th>PVP USD</th>
          <th>PVP Pesos</th>
          <th>Cantidad</th>
        </tr>
      </thead>
      <tbody>
        <!-- Supongamos que tienes una lista de productos en una variable llamada 'productos' -->
        <tr *ngFor="let producto of productos">
          <td><img [src]="producto.imagenUrl" class="img-fluid imagenProducto" alt="Imagen de {{producto.nombre}}"></td>
          <td class="d-none d-md-table-cell" >{{ producto.nombre }}</td>
          <td class="d-none d-md-table-cell" >{{ producto.peso }}</td>
          <td>{{ producto.precioDolar | currency }}</td>
          <td>${{ producto.precioDolar * cotizacionMostrada | currency:'ARS':'symbol':'1.2-2' }}</td>
          <td *ngIf="producto.stock" >
            <input type="number" [(ngModel)]="producto.cantidad" (ngModelChange)="calcularTotales()" class="form-control" min="0">
          </td>
          <td *ngIf="!producto.stock" >
            <b>SIN STOCK!</b>
          </td>
        </tr>
      </tbody>

      <tfoot>
        <tr>
          <td colspan="3" class="text-right">Total Unidades:</td>
          <td>{{ pesoTotal | number }} kg</td>
          <td>{{ textoDescuento }}</td>
          <td>{{ totalUnidades }} unidades</td>
        </tr>

        <tr *ngIf="cantidadProductosConCantidad() <= 1">
          <div *ngIf="totalUnidades < 3; else showUnidadDolar">

          </div>
          <ng-template #showUnidadDolar>
            <td colspan="3" class="text-right">Precio por unidad <b>CON</b> descuento Dolar:</td>
            <td>${{ (precioTotal) / totalUnidades | currency }}</td>
            <td> <strong>{{ textoGananciaPorUnidadDolar | currency }}  USD de ganancia por unidad vendida</strong></td>
          </ng-template>

        </tr>

        <tr *ngIf="cantidadProductosConCantidad() <= 1">
          <div *ngIf="totalUnidades < 3; else showUnidadPesos">

          </div>
          <ng-template #showUnidadPesos>
            <td colspan="3" class="text-right">Precio por unidad <b>CON</b> descuento Pesos:</td>
            <td>${{ (precioTotal * cotizacionMostrada) / totalUnidades | currency:'ARS':'symbol':'1.2-2' }}</td>
            <td> <strong>{{ textoGananciaPorUnidadPesos | currency:'ARS':'symbol':'1.2-2' }}  de ganancia por unidad vendida</strong></td>
          </ng-template>

        </tr>

        <!-- <tr>

          <div *ngIf="totalUnidades < 3; else showTotalSinDescuentoDolar">

          </div>
          <ng-template #showTotalSinDescuentoDolar>
            <td colspan="3" class="text-right">Total <b>SIN</b> descuento Dolar:</td>
            <td>{{ precioSinDescuento | currency }}</td>
          </ng-template>

        </tr> -->

        <!-- <tr>
          <div *ngIf="totalUnidades < 3; else showTotalSinDescuentoPesos">

          </div>
          <ng-template #showTotalSinDescuentoPesos>
            <td colspan="3" class="text-right">Total <b>SIN</b> descuento Pesos:</td>
            <td>${{ precioSinDescuento * cotizacionMostrada | currency:'ARS':'symbol':'1.2-2' }}</td>
          </ng-template>

        </tr> -->


        <tr>

          <div *ngIf="totalUnidades < 3; else showTotal">
            <p>El pedido mínimo es de 3 unidades</p>
          </div>
          <ng-template #showTotal>
            <td colspan="3" class="text-right">Total <b>CON</b> descuento Dolar:</td>
            <td>{{ precioTotal | currency }}</td>
            <td><strong>{{ textoGananciaDolar | currency }} USD de ganancia en el total de la compra</strong></td>
          </ng-template>

        </tr>

        <tr>
          <div *ngIf="totalUnidades < 3; else showTotalPesos">

          </div>
          <ng-template #showTotalPesos>
            <td colspan="3" class="text-right">Total <b>CON</b> descuento Pesos:</td>
            <td>${{ precioTotal * cotizacionMostrada | currency:'ARS':'symbol':'1.2-2' }}</td>
            <td> <strong>{{ textoGananciaPesos | currency:'ARS':'symbol':'1.2-2' }} de ganancia en el total de la compra</strong></td>
          </ng-template>

        </tr>


      </tfoot>

    </table>


    <!-- SLOT DE TORNEO DE TIENDA -->
    <br><br>
    <h2 class="text-center mt-2 mb-3">Slots para Torneo de Tienda (incluye 2 cajas de boosters y cartas promos para premios)</h2>
    <br>
    <table class="table table-bordered table-responsive-lg pt-2 ">
      <thead class="thead-light">
        <tr>
          <th>Imagen</th>
          <th class="d-none d-md-table-cell" >Nombre del Producto</th>
          <th>PVP USD</th>
          <th>PVP Pesos</th>
          <th>Cantidad</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let producto of slotDeTorneo">
          <td><img [src]="producto.imagenUrl" class="img-fluid imagenProducto" alt="Imagen de {{producto.nombre}}"></td>
          <td class="d-none d-md-table-cell" >{{ producto.nombre }}</td>
          <td>{{ producto.precioDolar | currency }}</td>
          <td>${{ producto.precioDolar * cotizacionMostrada | currency:'ARS':'symbol':'1.2-2' }}</td>
          <td *ngIf="producto.stock" >
            <input type="number" [(ngModel)]="producto.cantidad" class="form-control" min="0">
          </td>
          <td *ngIf="!producto.stock" >
            <b>SIN STOCK!</b>
          </td>
        </tr>
      </tbody>

      <tfoot>
        <tr>
          <td colspan="3" class="text-right">Total Unidades:</td>

          <td>{{ calcularTotalUnidadesFolleto() }}</td>
        </tr>


        <tr>

          <div *ngIf="calcularTotalUnidadesFolleto() < 1; else showTotalSinDescuentoDolarFolleto">

          </div>
          <ng-template #showTotalSinDescuentoDolarFolleto>
            <td colspan="3" class="text-right">Precio Dolar:</td>
            <td>{{ calcularPrecioSinDescuentoFolleto() | currency }}</td>
          </ng-template>

        </tr>

        <tr>
          <div *ngIf="calcularTotalUnidadesFolleto() < 1; else showTotalSinDescuentoPesosFolleto">

          </div>
          <ng-template #showTotalSinDescuentoPesosFolleto>
            <td colspan="3" class="text-right">Precio Pesos:</td>
            <td>${{ calcularPrecioSinDescuentoFolleto() * cotizacionMostrada | currency:'ARS':'symbol':'1.2-2' }}</td>
          </ng-template>

        </tr>


        <!-- <tr>

          <div *ngIf="calcularTotalUnidadesFolleto() < 10; else showTotalFolleto">
            <p>El pedido mínimo es de 10 unidades</p>
          </div>
          <ng-template #showTotalFolleto>
            <td colspan="3" class="text-right">Precio <b>CON</b> descuento Dolar:</td>
            <td>{{ calcularPrecioTotalFolleto() | currency }}</td>
            <td>{{ obtenerTextoDescuentoFolleto() }}</td>
          </ng-template>

        </tr>

        <tr>
          <div *ngIf="calcularTotalUnidadesFolleto() < 10; else showTotalPesosFolleto">

          </div>
          <ng-template #showTotalPesosFolleto>
            <td colspan="3" class="text-right">Precio <b>CON</b> descuento Pesos:</td>
            <td>${{ calcularPrecioTotalFolleto() * cotizacionMostrada | currency:'ARS':'symbol':'1.2-2' }}</td>
            <td>{{ obtenerTextoDescuentoFolleto() }}</td>
          </ng-template>

        </tr> -->

      </tfoot>

    </table>
  </div>

  <div class="container pt-2 pb-5" >
    <h4 class="m-4">Aclaraciones</h4>
    <h5 class="m-4" ><b>*Medios de pago:</b> efectivo, o transferencia bancaria a: <i>ludicat.juegos.mp</i>.</h5>
    <h5 class="m-4">*La cotización del dolar se considera al momento que se realiza el pago.</h5>
    <h5 class="m-4">Los pedidos de productos que sean menores a 11 unidades, <b>no tienen el envío incluido</b>. Preguntarnos para conocer su valor.</h5>
    <h5 class="m-4">Los pedidos de slots de torneo que sean menores a 5 unidades, <b>no tienen el envío incluido</b>. Preguntarnos para conocer su valor.</h5>
    <h5 class="m-4">El descuento del slot de torneo no varía según la cantidad pedida.</h5>
    <h5 class="m-4">Para obtener más información de cada producto (descripción, textos promocionales, imágenes png, etc) pueden ir a nuestra sección de <a routerLink="/marketing-material">Marketing</a>.</h5>
  </div>

</div>

