<app-adminnavbar></app-adminnavbar>

<div class="formulario text-center">
  <div class="container">
    <h2 class="m-4">Registro de una carta nueva</h2>
    <div class="row mb-4">
      <form (ngSubmit)="onSubmitCarta()" [formGroup]="contactForm">
        <div class="col">

          <div class="m-4">
            <label class="form-label display-text" for="formularioCartaNombre">Nombre</label><br>
            <input [ngModel]="nombreInput" (ngModelChange)="nombreInput = $event.toUpperCase()"
              formControlName="formularioCartaNombre" name="formularioCartaNombre"
              [class.is-invalid]="contactForm.get('formularioCartaNombre').invalid && contactForm.get('formularioCartaNombre').touched"
              type="text" id="formularioCartaNombre" class="formulario-input bg-light form-control "
              formControlName="formularioCartaNombre" required />
            <div
              *ngIf="contactForm.get('formularioCartaNombre')?.touched && contactForm.get('formularioCartaNombre')?.errors?.['required'] "
              class="alert alert-danger formulario-error text-center mt-3">*El campo de nombre es obligatorio</div>
            <div
              *ngIf="contactForm.get('formularioCartaNombre')?.touched && contactForm.get('formularioCartaNombre')?.errors?.['minlength'] "
              class="alert alert-danger formulario-error mt-3">*El campo de nombre debe contener al menos
              {{contactForm.get('formularioCartaNombre')?.errors?.['minlength'].requiredLength}} letras</div>
          </div>

          <div class="m-4">
            <label class="form-label display-text" for="formularioCartaCoste">Coste</label><br>
            <input formControlName="formularioCartaCoste" name="formularioCartaCoste"
              [class.is-invalid]="contactForm.get('formularioCartaCoste').invalid && contactForm.get('formularioCartaCoste').touched"
              type="number" id="formularioCartaCoste" class="formulario-input bg-light form-control " required
              formControlName="formularioCartaCoste" />
            <div
              *ngIf="contactForm.get('formularioCartaCoste')?.touched && contactForm.get('formularioCartaCoste')?.errors?.['required'] "
              class="alert alert-danger formulario-error mt-3">*El campo de coste es obligatorio</div>
            <div
              *ngIf="contactForm.get('formularioCartaCoste')?.touched && contactForm.get('formularioCartaCoste')?.errors?.['minlength'] "
              class="alert alert-danger formulario-error mt-3">*El campo de coste debe contener al menos
              {{contactForm.get('formularioCartaCoste')?.errors?.['minlength'].requiredLength}} cifra</div>
          </div>

          <div class="m-4">
            <label class="form-label display-text" for="formularioCartaCoste">Expansion</label><br>
            <select formControlName="formularioCartaExpansion" class="formulario-input bg-light form-control "
              name="formularioCartaExpansion" id="formularioCartaExpansion">
              <option *ngFor="let expa of expansiones | async" [ngValue]="expa">
                {{expa.nombreExpansion}}
              </option>
            </select>
            <div
              *ngIf="contactForm.get('formularioCartaExpansion')?.touched && contactForm.get('formularioCartaExpansion')?.errors?.['required'] "
              class="alert alert-danger formulario-error mt-3">*El campo de Expansion es obligatorio
            </div>
          </div>

          <div class="m-4">
            <label class="form-label display-text" for="formularioCartaRareza">Rareza</label><br>
            <select formControlName="formularioCartaRareza" class="formulario-input bg-light form-control "
              name="formularioCartaRareza" id="formularioCartaRareza">
              <option *ngFor="let rare of rarezas | async" [ngValue]="rare">
                {{rare.nombreRareza}}
              </option>
            </select>
            <div
              *ngIf="contactForm.get('formularioCartaRareza')?.touched && contactForm.get('formularioCartaRareza')?.errors?.['required'] "
              class="alert alert-danger formulario-error mt-3">*El campo de Rareza es obligatorio
            </div>

            <div class="m-4">
              <label class="form-label display-text" for="formularioCartaTipo">Tipo</label><br>
              <select formControlName="formularioCartaTipo" class="formulario-input bg-light form-control "
                name="formularioCartaTipo" id="formularioCartaTipo" >
                <ng-container *ngIf="{ data: tipos | async } as result">
                  <option *ngFor="let type of result.data | orderBy:'nombreTipo'" [ngValue]="type">
                    {{type.nombreTipo}}
                  </option>
                </ng-container>
              </select>
              <div
                *ngIf="contactForm.get('formularioCartaTipo')?.touched && contactForm.get('formularioCartaTipo')?.errors?.['required'] "
                class="alert alert-danger formulario-error mt-3">*El campo de Tipo es obligatorio
              </div>
            </div>

            <div class="m-4">
              <label class="form-label display-text" for="formularioCartaSubTipo1">SubTipo</label><br>
              <select formControlName="formularioCartaSubTipo1" class="formulario-input bg-light form-control "
                name="formularioCartaSubTipo1" id="formularioCartaSubTipo1" >
                <ng-container *ngIf="{ data: subtipos | async } as result">
                  <option *ngFor="let subtype of result.data | orderBy:'nombreSubTipo'" [ngValue]="subtype">
                    {{subtype.nombreSubTipo}}
                  </option>
                </ng-container>
              </select>
              <div
                *ngIf="contactForm.get('formularioCartaSubTipo1')?.touched && contactForm.get('formularioCartaSubTipo1')?.errors?.['required'] "
                class="alert alert-danger formulario-error mt-3">*El campo de SubTipo es obligatorio
              </div>
            </div>

            <div class="m-4">
              <label class="form-label display-text" for="formularioCartaSubTipo2">SubTipo2</label><br>
              <select formControlName="formularioCartaSubTipo2" class="formulario-input bg-light form-control "
                name="formularioCartaSubTipo2" id="formularioCartaSubTipo2" >
                <ng-container *ngIf="{ data: subtipos | async } as result">
                  <option *ngFor="let subtype of result.data | orderBy:'nombreSubTipo'" [ngValue]="subtype">
                    {{subtype.nombreSubTipo}}
                  </option>
                </ng-container>
              </select>
            </div>

            <div class="m-4">
              <label class="form-label display-text" for="formularioCartaSubTipo3">SubTipo3</label><br>
              <select formControlName="formularioCartaSubTipo3" class="formulario-input bg-light form-control "
                name="formularioCartaSubTipo3" id="formularioCartaSubTipo3" >
                <ng-container *ngIf="{ data: subtipos | async } as result">
                  <option *ngFor="let subtype of result.data | orderBy:'nombreSubTipo'" [ngValue]="subtype">
                    {{subtype.nombreSubTipo}}
                  </option>
                </ng-container>
              </select>
            </div>


            <div class="m-4">
              <label class="form-label display-text" for="formularioTextoCarta">Texto de carta</label><br>
              <input formControlName="formularioTextoCarta" name="formularioTextoCarta"
                [class.is-invalid]="contactForm.get('formularioTextoCarta').invalid && contactForm.get('formularioTextoCarta').touched"
                type="text" id="formularioTextoCarta" class="formulario-input bg-light form-control " required
                formControlName="formularioTextoCarta" />
              <div
                *ngIf="contactForm.get('formularioTextoCarta')?.touched && contactForm.get('formularioTextoCarta')?.errors?.['required'] "
                class="alert alert-danger formulario-error mt-3">*El texto de carta es obligatorio
              </div>
              <div
                *ngIf="contactForm.get('formularioTextoCarta')?.touched && contactForm.get('formularioTextoCarta')?.errors?.['minlength'] "
                class="alert alert-danger formulario-error mt-3">*El texto de carta debe contener al menos
                {{contactForm.get('formularioTextoCarta')?.errors?.['minlength'].requiredLength}} letras
              </div>
            </div>

            <div class="m-4">
              <label class="form-label display-text" for="formularioFlavorCarta">Flavor text (no es obligatorio)</label><br>
              <input formControlName="formularioFlavorCarta" class="formulario-input bg-light form-control" name="formularioFlavorCarta"/>
            </div>

            <div class="m-4">
              <label class="form-label display-text" for="formularioRulingCarta">Ruling (no es obligatorio)</label><br>
              <input formControlName="formularioRulingCarta" class="formulario-input bg-light form-control" name="formularioRulingCarta"/>
            </div>

            <div class="m-4">
              <label class="form-label display-text" for="formularioCartaURL">URL de la imagen</label><br>
              <input formControlName="formularioCartaURL" name="formularioCartaURL"
                [class.is-invalid]="contactForm.get('formularioCartaURL').invalid && contactForm.get('formularioCartaURL').touched"
                type="text" id="formularioCartaURL" class="formulario-input bg-light form-control " required
                formControlName="formularioCartaURL" />
              <div
                *ngIf="contactForm.get('formularioCartaURL')?.touched && contactForm.get('formularioCartaURL')?.errors?.['required'] "
                class="alert alert-danger formulario-error mt-3">*El campo de URL es obligatorio
              </div>
              <div
                *ngIf="contactForm.get('formularioCartaURL')?.touched && contactForm.get('formularioCartaURL')?.errors?.['minlength'] "
                class="alert alert-danger formulario-error mt-3">*El campo de URL debe contener al menos
                {{contactForm.get('formularioCartaURL')?.errors?.['minlength'].requiredLength}} letras
              </div>
            </div>

            <div class="m-4">
              <label class="form-label display-text" for="formularioAlter1">Imagen alternativa 1 (no es obligatorio)</label><br>
              <input formControlName="formularioAlter1" class="formulario-input bg-light form-control" name="formularioAlter1"/>
            </div>
            <div class="m-4">
              <label class="form-label display-text" for="formularioAlter2">Imagen alternativa 2 (no es obligatorio)</label><br>
              <input formControlName="formularioAlter2" class="formulario-input bg-light form-control" name="formularioAlter2"/>
            </div>
            <div class="m-4">
              <label class="form-label display-text" for="formularioAlter3">Imagen alternativa 3 (no es obligatorio)</label><br>
              <input formControlName="formularioAlter3" class="formulario-input bg-light form-control" name="formularioAlter3"/>
            </div>


            <button (click)="onSubmitCarta()" [swal]="['Hecho!', 'Has registrado una nueva carta', 'success']"
              [disabled]="contactForm.invalid" type="submit" id="enviarFormulario"
              class="btn btn-warning btn-block btn-lg mb-4 mt-4">Registrar carta
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="container">
    <h1 class="text-center display-text pt-5">Lista de cartas subidas a la base</h1>
  </div>

  <div class="container">
    <h2 class="text-center display-text mt-4 mb-4">Buscador de cartas</h2>

    <div class="m-3">
      <input [(ngModel)]="searchText" placeholder="Ingrese el nombre de la carta que quieres buscar..."
        (ngModelChange)="searchText = $event.toUpperCase()" name="buscadorNombre" type="text" id="buscadorNombre"
        class="formulario-input bg-light form-control " />
        <button (click)="searchByText()" class="btn btn-outline-warning mt-3">Buscar por nombre</button>
    </div>

    <h5 class="mt-4 mb-4" >Ó puedes buscar seleccionando los siguientes filtros:</h5>

    <div class="mb-5">

      <!-- Filtro de expansión -->
      <div class="form-group">
        <h4 class="mt-2 mb-2">Expansiones</h4>
        <select [(ngModel)]="selectedExpansion" (change)="onExpansionChange(selectedExpansion)">
          <option value="">Selecciona una expansión</option>
          <option *ngFor="let expa of expansiones | async" [value]="expa.idExpansion">{{expa.nombreExpansion}}</option>
        </select>
      </div>

      <!-- Filtro de rareza -->
      <div class="form-group">
        <h4 class="mt-2 mb-2">Rarezas</h4>
        <select [(ngModel)]="selectedRareza" (change)="onRarezaChange(selectedRareza)">
          <option value="">Selecciona una rareza</option>
          <option *ngFor="let rare of rarezas | async" [value]="rare.idRareza">{{rare.nombreRareza}}</option>
        </select>
      </div>

      <!-- Filtro de tipo -->
      <div class="form-group">
        <h4 class="mt-2 mb-2">Tipos</h4>
        <select [(ngModel)]="selectedTipo" (change)="onTipoChange(selectedTipo)">
          <option value="">Selecciona un tipo de carta</option>
          <option *ngFor="let type of tipos | async" [value]="type.idTipo">{{type.nombreTipo}}</option>
        </select>
      </div>

    <!-- ////////////////////////////////// -->

    <table *ngIf="!selectedRareza && !selectedExpansion && !selectedTipo && (searchText == '' || searchText == null)" class="table table-striped mb-4 text-center">
      <thead class="table">
        <tr>
          <th class="display-text">Imagen</th>
          <th class="display-text">ID</th>
          <th class="display-text">Nombre</th>
          <th class="display-text">Coste</th>
          <th class="display-text">Expansion</th>
          <th class="display-text">Rareza</th>
          <th class="display-text">Tipo</th>
          <th class="display-text">Subtipo</th>
          <th class="display-text">Subtipo2</th>
          <th class="display-text">Subtipo3</th>
          <th class="display-text">Comandos</th>
        </tr>
      </thead>

      <tbody
        *ngFor="let card of cartas">
        <tr>
          <td class="display-text">
            <img class="carta" src="{{card.urlImagen}}" alt="">
          </td>
          <td class="display-text">{{card.idCarta}}</td>
          <td class="display-text">{{card.nombreCarta}}</td>
          <td class="display-text">{{card.costeCarta}}</td>
          <td class="display-text">{{card.expansion.nombreExpansion}}</td>
          <td class="display-text">{{card.rareza.nombreRareza}}</td>
          <td class="display-text">{{card.tipo.nombreTipo}}</td>
          <td *ngIf="card.subtipo" class="display-text">{{card.subtipo.nombreSubTipo}}</td>
          <td *ngIf="card.subtipo2" class="display-text">{{card.subtipo2.nombreSubTipo}}</td>
          <td *ngIf="card.subtipo3" class="display-text">{{card.subtipo3.nombreSubTipo}}</td>
          <td *ngIf="!card.subtipo" class="display-text">-</td>
          <td *ngIf="!card.subtipo2" class="display-text">-</td>
          <td *ngIf="!card.subtipo3" class="display-text">-</td>

          <td>
            <button type="button" class="btn btn-outline-warning m-2"
              [swal]="{ title: '¿Estás seguro que quieres editar la carta?', showDenyButton: true, denyButtonText: 'Cancelar', icon: 'question'}"
              (confirm)="actualizarCarta(card.idCarta)" (deny)="limpiarFormulario()" (dismiss)="obtenerCartas()">
              Editar
            </button>

            <button type="button" class="btn btn-outline-danger m-2"
              [swal]="{ title: '¿Estás seguro que quieres eliminar esta carta?', showDenyButton: true, denyButtonText: 'Cancelar', icon: 'question'}"
              (confirm)="eliminarCarta(card.idCarta)" (deny)="limpiarFormulario()" (dismiss)="obtenerCartas()">
              Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>

    <!-- ////////////////////////////////// -->

    <table *ngIf="selectedRareza || selectedExpansion || selectedTipo || !(searchText == null || searchText == '')" class="table table-striped mb-4 text-center">
      <thead class="table">
        <tr>
          <th class="display-text">Imagen</th>
          <th class="display-text">ID</th>
          <th class="display-text">Nombre</th>
          <th class="display-text">Coste</th>
          <th class="display-text">Expansion</th>
          <th class="display-text">Rareza</th>
          <th class="display-text">Tipo</th>
          <th class="display-text">Comandos</th>
        </tr>
      </thead>

      <tbody
        *ngFor="let card of filteredCartas">
        <tr>
          <td class="display-text">
            <img class="carta" [lazyLoad]="card.urlImagen" alt="">
          </td>
          <td class="display-text">{{card.idCarta}}</td>
          <td class="display-text">{{card.nombreCarta}}</td>
          <td class="display-text">{{card.costeCarta}}</td>
          <td class="display-text">{{card.expansion.nombreExpansion}}</td>
          <td class="display-text">{{card.rareza.nombreRareza}}</td>
          <td class="display-text">{{card.tipo.nombreTipo}}</td>

          <td>
            <button type="button" class="btn btn-outline-warning m-2"
              [swal]="{ title: '¿Estás seguro que quieres editar la carta?', showDenyButton: true, denyButtonText: 'Cancelar', icon: 'question'}"
              (confirm)="actualizarCarta(card.idCarta)" (deny)="limpiarFormulario()" (dismiss)="obtenerCartas()">
              Editar
            </button>

            <button type="button" class="btn btn-outline-danger m-2"
              [swal]="{ title: '¿Estás seguro que quieres eliminar esta carta?', showDenyButton: true, denyButtonText: 'Cancelar', icon: 'question'}"
              (confirm)="eliminarCarta(card.idCarta)" (deny)="limpiarFormulario()" (dismiss)="obtenerCartas()">
              Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</div>

