<nav class="navbar scroll-top navbar-dark navbar-expand-lg pb-3 pt-3 text-center">
  <div class="container">
    <div class="collapse navbar-collapse text-center" id="navbarNavDropdown-2">
      <ul class="ms-auto navbar-nav">
        <li class="nav-item">
          <button class="nav-link pb-lg-3 pe-lg-4 ps-lg-4 pt-lg-3 text-dark btn btn-warning"
            (click)="deslogear()">Cerrar sesión</button>
        </li>
        <li class="nav-item">
          <a class="nav-link pb-lg-3 pe-lg-4 ps-lg-4 pt-lg-3" routerLink="/v1/upload/cartas">Subir cartas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link pb-lg-3 pe-lg-4 ps-lg-4 pt-lg-3" routerLink="/v1/upload/expas">Subir expansiones</a>
        </li>
        <li class="nav-item">
          <a class="nav-link pb-lg-3 pe-lg-4 ps-lg-4 pt-lg-3" routerLink="/v1/upload/rarezas">Subir rarezas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link pb-lg-3 pe-lg-4 ps-lg-4 pt-lg-3" routerLink="/v1/upload/tipos">Subir tipos de carta</a>
        </li>
        <li class="nav-item">
          <a class="nav-link pb-lg-3 pe-lg-4 ps-lg-4 pt-lg-3" routerLink="/v1/upload/subirTiendas">Subir tiendas</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="formulario text-center">
  <div class="container">
    <h2 class="m-4">Registro de una carta nueva</h2>
    <div class="row mb-4">
      <form (ngSubmit)="onSubmitCarta()" [formGroup]="contactForm">
        <div class="col">

          <div class="m-4">
            <label class="form-label display-text" for="formularioCartaNombre">Nombre</label><br>
            <input [ngModel]="nombreInput" (ngModelChange)="nombreInput = $event.toUpperCase()"
              formControlName="formularioCartaNombre" name="formularioCartaNombre"
              [class.is-invalid]="contactForm.get('formularioCartaNombre').invalid && contactForm.get('formularioCartaNombre').touched"
              type="text" id="formularioCartaNombre" class="formulario-input bg-light form-control "
              formControlName="formularioCartaNombre" required />
            <div
              *ngIf="contactForm.get('formularioCartaNombre')?.touched && contactForm.get('formularioCartaNombre')?.errors?.['required'] "
              class="alert alert-danger formulario-error text-center mt-3">*El campo de nombre es obligatorio</div>
            <div
              *ngIf="contactForm.get('formularioCartaNombre')?.touched && contactForm.get('formularioCartaNombre')?.errors?.['minlength'] "
              class="alert alert-danger formulario-error mt-3">*El campo de nombre debe contener al menos
              {{contactForm.get('formularioCartaNombre')?.errors?.['minlength'].requiredLength}} letras</div>
          </div>

          <div class="m-4">
            <label class="form-label display-text" for="formularioCartaCoste">Coste</label><br>
            <input formControlName="formularioCartaCoste" name="formularioCartaCoste"
              [class.is-invalid]="contactForm.get('formularioCartaCoste').invalid && contactForm.get('formularioCartaCoste').touched"
              type="number" id="formularioCartaCoste" class="formulario-input bg-light form-control " required
              formControlName="formularioCartaCoste" />
            <div
              *ngIf="contactForm.get('formularioCartaCoste')?.touched && contactForm.get('formularioCartaCoste')?.errors?.['required'] "
              class="alert alert-danger formulario-error mt-3">*El campo de coste es obligatorio</div>
            <div
              *ngIf="contactForm.get('formularioCartaCoste')?.touched && contactForm.get('formularioCartaCoste')?.errors?.['minlength'] "
              class="alert alert-danger formulario-error mt-3">*El campo de coste debe contener al menos
              {{contactForm.get('formularioCartaCoste')?.errors?.['minlength'].requiredLength}} cifra</div>
          </div>

          <div class="m-4">
            <label class="form-label display-text" for="formularioCartaCoste">Expansion</label><br>
            <select formControlName="formularioCartaExpansion" class="formulario-input bg-light form-control "
              name="formularioCartaExpansion" id="formularioCartaExpansion">
              <option *ngFor="let expa of expansiones | async" [ngValue]="expa">
                {{expa.nombreExpansion}}
              </option>
            </select>
            <div
              *ngIf="contactForm.get('formularioCartaExpansion')?.touched && contactForm.get('formularioCartaExpansion')?.errors?.['required'] "
              class="alert alert-danger formulario-error mt-3">*El campo de Expansion es obligatorio
            </div>
          </div>

          <div class="m-4">
            <label class="form-label display-text" for="formularioCartaRareza">Rareza</label><br>
            <select formControlName="formularioCartaRareza" class="formulario-input bg-light form-control "
              name="formularioCartaExpansion" id="formularioCartaExpansion">
              <option *ngFor="let rare of rarezas | async" [ngValue]="rare">
                {{rare.nombreRareza}}
              </option>
            </select>
            <div
              *ngIf="contactForm.get('formularioCartaRareza')?.touched && contactForm.get('formularioCartaRareza')?.errors?.['required'] "
              class="alert alert-danger formulario-error mt-3">*El campo de Rareza es obligatorio
            </div>

            <div class="m-4">
              <label class="form-label display-text" for="formularioCartaTipo">Tipo</label><br>
              <select formControlName="formularioCartaTipo" class="formulario-input bg-light form-control "
                name="formularioCartaExpansion" id="formularioCartaExpansion">
                <option *ngFor="let type of tipos | async" [ngValue]="type">
                  {{type.nombreTipo}}
                </option>
              </select>
              <div
                *ngIf="contactForm.get('formularioCartaTipo')?.touched && contactForm.get('formularioCartaTipo')?.errors?.['required'] "
                class="alert alert-danger formulario-error mt-3">*El campo de Tipo es obligatorio
              </div>
            </div>

            <div class="m-4">
              <label class="form-label display-text" for="formularioCartaURL">URL de la imagen</label><br>
              <input formControlName="formularioCartaURL" name="formularioCartaURL"
                [class.is-invalid]="contactForm.get('formularioCartaURL').invalid && contactForm.get('formularioCartaURL').touched"
                type="text" id="formularioCartaURL" class="formulario-input bg-light form-control " required
                formControlName="formularioCartaURL" />
              <div
                *ngIf="contactForm.get('formularioCartaURL')?.touched && contactForm.get('formularioCartaURL')?.errors?.['required'] "
                class="alert alert-danger formulario-error mt-3">*El campo de URL es obligatorio
              </div>
              <div
                *ngIf="contactForm.get('formularioCartaURL')?.touched && contactForm.get('formularioCartaURL')?.errors?.['minlength'] "
                class="alert alert-danger formulario-error mt-3">*El campo de URL debe contener al menos
                {{contactForm.get('formularioCartaURL')?.errors?.['minlength'].requiredLength}} letras
              </div>
            </div>

            <button (click)="onSubmitCarta()" [swal]="['Hecho!', 'Has registrado una nueva carta', 'success']"
              [disabled]="contactForm.invalid" type="submit" id="enviarFormulario"
              class="btn btn-warning btn-block btn-lg mb-4 mt-4">Registrar carta
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="container">
    <h1 class="text-center display-text pt-5">Lista de cartas subidas a la base</h1>
  </div>

  <div class="container">
    <h2 class="text-center display-text mt-4 mb-4">Buscador de cartas</h2>

    <div class="m-3">
      <input [(ngModel)]="searchText" placeholder="Ingrese el nombre de la carta que quieres buscar..."
        (ngModelChange)="searchText = $event.toUpperCase()" name="buscadorNombre" type="text" id="buscadorNombre"
        class="formulario-input bg-light form-control " />
        <button (click)="searchByText()" class="btn btn-outline-warning mt-3">Buscar por nombre</button>
    </div>

    <h5 class="mt-4 mb-4" >Ó puedes buscar seleccionando los siguientes filtros:</h5>

    <div class="mb-5">

      <!-- Filtro de expansión -->
      <div class="form-group">
        <h4 class="mt-2 mb-2">Expansiones</h4>
        <select [(ngModel)]="selectedExpansion" (change)="onExpansionChange(selectedExpansion)">
          <option value="">Selecciona una expansión</option>
          <option *ngFor="let expa of expansiones | async" [value]="expa.idExpansion">{{expa.nombreExpansion}}</option>
        </select>
      </div>

      <!-- Filtro de rareza -->
      <div class="form-group">
        <h4 class="mt-2 mb-2">Rarezas</h4>
        <select [(ngModel)]="selectedRareza" (change)="onRarezaChange(selectedRareza)">
          <option value="">Selecciona una rareza</option>
          <option *ngFor="let rare of rarezas | async" [value]="rare.idRareza">{{rare.nombreRareza}}</option>
        </select>
      </div>

      <!-- Filtro de tipo -->
      <div class="form-group">
        <h4 class="mt-2 mb-2">Tipos</h4>
        <select [(ngModel)]="selectedTipo" (change)="onTipoChange(selectedTipo)">
          <option value="">Selecciona un tipo de carta</option>
          <option *ngFor="let type of tipos | async" [value]="type.idTipo">{{type.nombreTipo}}</option>
        </select>
      </div>

    <!-- ////////////////////////////////// -->

    <table *ngIf="!selectedRareza && !selectedExpansion && !selectedTipo && (searchText == '' || searchText == null)" class="table table-striped mb-4 text-center">
      <thead class="table">
        <tr>
          <th class="display-text">Imagen</th>
          <th class="display-text">ID</th>
          <th class="display-text">Nombre</th>
          <th class="display-text">Coste</th>
          <th class="display-text">Expansion</th>
          <th class="display-text">Rareza</th>
          <th class="display-text">Tipo</th>
          <th class="display-text">Comandos</th>
        </tr>
      </thead>

      <tbody
        *ngFor="let card of cartas">
        <tr>
          <td class="display-text">
            <img class="carta" src="{{card.urlImagen}}" alt="">
          </td>
          <td class="display-text">{{card.idCarta}}</td>
          <td class="display-text">{{card.nombreCarta}}</td>
          <td class="display-text">{{card.costeCarta}}</td>
          <td class="display-text">{{card.expansion.nombreExpansion}}</td>
          <td class="display-text">{{card.rareza.nombreRareza}}</td>
          <td class="display-text">{{card.tipo.nombreTipo}}</td>

          <td>
            <button type="button" class="btn btn-outline-warning m-2"
              [swal]="{ title: '¿Estás seguro que quieres editar la carta?', showDenyButton: true, denyButtonText: 'Cancelar', icon: 'question'}"
              (confirm)="actualizarCarta(card.idCarta)" (deny)="limpiarFormulario()" (dismiss)="obtenerCartas()">
              Editar
            </button>

            <button type="button" class="btn btn-outline-danger m-2"
              [swal]="{ title: '¿Estás seguro que quieres eliminar esta carta?', showDenyButton: true, denyButtonText: 'Cancelar', icon: 'question'}"
              (confirm)="eliminarCarta(card.idCarta)" (deny)="limpiarFormulario()" (dismiss)="obtenerCartas()">
              Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>

    <!-- ////////////////////////////////// -->

    <table *ngIf="selectedRareza || selectedExpansion || selectedTipo || !(searchText == null || searchText == '')" class="table table-striped mb-4 text-center">
      <thead class="table">
        <tr>
          <th class="display-text">Imagen</th>
          <th class="display-text">ID</th>
          <th class="display-text">Nombre</th>
          <th class="display-text">Coste</th>
          <th class="display-text">Expansion</th>
          <th class="display-text">Rareza</th>
          <th class="display-text">Tipo</th>
          <th class="display-text">Comandos</th>
        </tr>
      </thead>

      <tbody
        *ngFor="let card of filteredCartas">
        <tr>
          <td class="display-text">
            <img class="carta" [lazyLoad]="card.urlImagen" alt="">
          </td>
          <td class="display-text">{{card.idCarta}}</td>
          <td class="display-text">{{card.nombreCarta}}</td>
          <td class="display-text">{{card.costeCarta}}</td>
          <td class="display-text">{{card.expansion.nombreExpansion}}</td>
          <td class="display-text">{{card.rareza.nombreRareza}}</td>
          <td class="display-text">{{card.tipo.nombreTipo}}</td>

          <td>
            <button type="button" class="btn btn-outline-warning m-2"
              [swal]="{ title: '¿Estás seguro que quieres editar la carta?', showDenyButton: true, denyButtonText: 'Cancelar', icon: 'question'}"
              (confirm)="actualizarCarta(card.idCarta)" (deny)="limpiarFormulario()" (dismiss)="obtenerCartas()">
              Editar
            </button>

            <button type="button" class="btn btn-outline-danger m-2"
              [swal]="{ title: '¿Estás seguro que quieres eliminar esta carta?', showDenyButton: true, denyButtonText: 'Cancelar', icon: 'question'}"
              (confirm)="eliminarCarta(card.idCarta)" (deny)="limpiarFormulario()" (dismiss)="obtenerCartas()">
              Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</div>

