@import 'swiper/swiper-bundle.min.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');


*::-webkit-scrollbar {
  width: 15px;
  background-color: #efefef;
}

*::-webkit-scrollbar-thumb {
  background: #f8c538;
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb:hover {
  background: #d3a421;
}

*::-webkit-scrollbar-thumb:active {
  background: #a47d11;
}

.fondo-gris{
  background-color: #eaeaea;
}

body {
  font-family: 'Montserrat', sans-serif;
  width: 100% !important;
  max-width: 100% !important;
}

