<section class="primer-fondo hero-block pb-5 position-relative pt-5 text-white-50">
  <div class="col-lg-8 end-0 h-100 position-absolute top-0">
  </div>
  <div class="container pb-5 position-relative pt-5">
    <div class="align-items-center gy-4 row">
      <div class="col-lg-12 text-center textos pb-4">
        <h1 class="display-3 fw-bold text-uppercase titulo-inicial text-white">buscador de cartas</h1>
        <p class="lead mb-4 text-white pe-sm-5 parrafo">Aquí vas a poder ver todas las cartas de Lairen, para armar tus
          mejores estrategias</p>
      </div>
    </div>
  </div>
</section>

<section class="fondo-gris text-white pb-5" >
  <div class="container">
    <h1 class="text-center display-text pt-5">Lista de cartas subidas a la base</h1>
  </div>

  <div class="container text-center">
    <h2 class="text-center display-text mt-4 mb-4">Buscador de cartas</h2>

    <div class="m-3">
      <input [(ngModel)]="searchText" placeholder="Ingrese el nombre de la carta que quieres buscar..."
        (ngModelChange)="searchText = $event.toUpperCase()" name="buscadorNombre" type="text" id="buscadorNombre"
        class="formulario-input bg-light form-control " />
        <button (click)="searchByText()" class="btn btn-outline-warning mt-3">Buscar por nombre</button>
    </div>

    <h5 class="mt-4 mb-4" >Ó puedes buscar seleccionando los siguientes filtros:</h5>

    <div class="mb-5">

      <!-- Filtro de expansión -->
      <div class="form-group">
        <h4 class="mt-2 mb-2">Expansiones</h4>
        <select [(ngModel)]="selectedExpansion" (change)="onExpansionChange(selectedExpansion)">
          <option value="">Selecciona una expansión</option>
          <option *ngFor="let expa of expansiones | async" [value]="expa.idExpansion">{{expa.nombreExpansion}}</option>
        </select>
      </div>

      <!-- Filtro de rareza -->
      <div class="form-group">
        <h4 class="mt-2 mb-2">Rarezas</h4>
        <select [(ngModel)]="selectedRareza" (change)="onRarezaChange(selectedRareza)">
          <option value="">Selecciona una rareza</option>
          <option *ngFor="let rare of rarezas" [value]="rare.idRareza">{{rare.nombreRareza}}</option>
        </select>
      </div>

      <!-- Filtro de tipo -->
      <div class="form-group">
        <h4 class="mt-2 mb-2">Tipos</h4>
        <select [(ngModel)]="selectedTipo" (change)="onTipoChange(selectedTipo)">
          <option value="UNIDAD">UNIDAD</option>
          <option value="">Selecciona un tipo de carta</option>
          <option *ngFor="let type of tipos" [value]="type.idTipo">{{type.nombreTipo}}</option>
        </select>
      </div>

      <div class="form-group">
        <h4 class="mt-2 mb-2">Coste</h4>
        <select [(ngModel)]="selectedCoste" (change)="onCosteChange(selectedCoste)">
          <option value="default">Selecciona un tipo de carta</option>
          <option *ngFor="let coste of costes" [value]="coste">{{coste}}</option>
        </select>
      </div>

    </div>


    <section *ngIf="filteredCartas.length > 0" class="section section-xl text-center card-seccion">
      <h2>Se han encontrado {{cantidadDeCartasMostrandose}} cartas con los filtros seleccionados</h2>
    </section>

    <section class="section section-xl text-center card-seccion">
      <div class="container">
        <div class="card-grid">
          <div *ngFor="let carta of filteredCartas">

            <img class="carta" (click)="visualizarCarta(carta.idCarta)" [lazyLoad]="carta.urlImagen" (onLoad)="onImageLoad($event)" [alt]="carta.nombreCarta"
                (mouseenter)="onMouseEnter($event)" (mouseleave)="onMouseLeave($event)">

            <div class="carta-texto">
              <p>{{acortarTexto(carta.textoCarta)}}</p>
              <p><a (click)="visualizarCarta(carta.idCarta)">... Ver más</a></p>
            </div>

          </div>
        </div>
      </div>
    </section>


    <section *ngIf="selectedRareza == null && selectedExpansion == null && selectedTipo == null && selectedCoste == null && (searchText == '' || searchText == null)" class="section section-xl text-center card-seccion">
      <div class="container">
        <div class="card-grid">
          <div *ngFor="let card of cartas">

            <img class="carta" (click)="visualizarCarta(card.idCarta)" [lazyLoad]="card.urlImagen" (onLoad)="onImageLoad($event)" [alt]="card.nombreCarta"
            (mouseenter)="onMouseEnter($event)" (mouseleave)="onMouseLeave($event)">

            <div class="carta-texto">
              <p>{{acortarTexto(card.textoCarta)}}</p>
              <p><a class="link-vermas" (click)="visualizarCarta(card.idCarta)">... Ver más</a></p>
            </div>

          </div>
        </div>
      </div>
    </section>


    <section *ngIf="filteredCartas.length == 0 && (selectedRareza !== null || selectedExpansion !== null || selectedTipo !== null || selectedCoste !== null || searchText !== null)" class="section section-xl text-center card-seccion">
      <h2>No se han encontrado cartas con los filtros seleccionados.</h2>
    </section>

  </div>
</section>
