<section class="pt-5 pb-5 fondo-gris">
  <div class="container">
    <div class="registro-container">

      <h2 class="form-title">Finalizar orden</h2>
      <form [formGroup]="contactForm" class="registro-form">

        <div class="row" >
          <div class="col-6 form-group">
            <input [(ngModel)]="userData.name" type="text" class="form-control" placeholder="Nombre y Apellido / Empresa"
            formControlName="name" name="name"
                  [class.is-invalid]="contactForm.get('name').invalid && contactForm.get('name').touched"
                  id="name" class="formulario-input bg-light form-control "
                  formControlName="name" />
                  <div
                  *ngIf="contactForm.get('name')?.touched && contactForm.get('name')?.errors?.['required'] "
                  class="alert alert-danger formulario-error text-center mt-3">*El campo de Nombre y apellido es obligatorio</div>
                  <div
                  *ngIf="contactForm.get('name')?.touched && contactForm.get('name')?.errors?.['minlength'] "
                  class="alert alert-danger formulario-error mt-3">*El campo de Nombre y apellido debe contener al menos
                  {{contactForm.get('name')?.errors?.['minlength'].requiredLength}} letras</div>
          </div>

          <div class="col-6 form-group">
            <input [(ngModel)]="userData.identity_number" type="text" class="form-control" placeholder="DNI / CUIL / CUIT"
            formControlName="identity_number" name="identity_number"
                  [class.is-invalid]="contactForm.get('identity_number').invalid && contactForm.get('identity_number').touched"
                  id="identity_number" class="formulario-input bg-light form-control "
                  formControlName="identity_number" />
                  <div
                  *ngIf="contactForm.get('identity_number')?.touched && contactForm.get('identity_number')?.errors?.['required'] "
                  class="alert alert-danger formulario-error text-center mt-3">*El campo de DNI/CUIL/CUIT es obligatorio</div>
                  <div
                  *ngIf="contactForm.get('identity_number')?.touched && contactForm.get('identity_number')?.errors?.['minlength'] "
                  class="alert alert-danger formulario-error mt-3">*El campo de DNI/CUIL/CUIT debe contener al menos
                  {{contactForm.get('identity_number')?.errors?.['minlength'].requiredLength}} letras</div>
          </div>
        </div>

        <div class="row" >
          <div class="col-6 form-group">
            <label for="state_id" class="ms-2 mb-1"> {{userData.state_name}} </label>
            <select name="state_id" id="state_id" class="form-control" formControlName="state_id">
              <option value="none" disabled hidden>Provincia</option>
              <option *ngFor="let provincia of provincias" [ngValue]="provincia.id">{{provincia.name}}</option>
            </select>
          </div>
          <div class="col-6 form-group">
            <label for="state_id" class="ms-2 mb-1"> {{userData.city_name}} </label>
            <select name="city_id" id="city_id" class="form-control" formControlName="city_id">
              <option value="none" disabled hidden>Ciudad</option>
              <option *ngFor="let ciudad of ciudades" [ngValue]="ciudad.id">{{ciudad.name}}</option>
            </select>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-3 form-group">
            <input [(ngModel)]="userData.code_area" type="text" class="form-control"  placeholder="Código de area"
            formControlName="code_area" name="code_area"
            [class.is-invalid]="contactForm.get('code_area').invalid && contactForm.get('code_area').touched"
            id="code_area" class="formulario-input bg-light form-control "
            formControlName="code_area"/>
            <div
            *ngIf="contactForm.get('code_area')?.touched && contactForm.get('code_area')?.errors?.['required'] "
            class="alert alert-danger formulario-error text-center mt-3">*Cod Área es obligatorio</div>
            <div
            *ngIf="contactForm.get('code_area')?.touched && contactForm.get('code_area')?.errors?.['minlength'] "
            class="alert alert-danger formulario-error mt-3">*Cod Área debe contener al menos
            {{contactForm.get('code_area')?.errors?.['minlength'].requiredLength}} letras</div>
          </div>

          <div class="col-sm-4 form-group">
            <input [(ngModel)]="userData.cel_phone" type="text" class="form-control"  placeholder="Celular"
            formControlName="cel_phone" name="cel_phone"
            [class.is-invalid]="contactForm.get('cel_phone').invalid && contactForm.get('cel_phone').touched"
            id="cel_phone" class="formulario-input bg-light form-control "
            formControlName="cel_phone"/>
            <div
            *ngIf="contactForm.get('cel_phone')?.touched && contactForm.get('cel_phone')?.errors?.['required'] "
            class="alert alert-danger formulario-error text-center mt-3">*El campo de Celular es obligatorio</div>
            <div
            *ngIf="contactForm.get('cel_phone')?.touched && contactForm.get('cel_phone')?.errors?.['minlength'] "
            class="alert alert-danger formulario-error mt-3">*El campo de Celular debe contener al menos
            {{contactForm.get('cel_phone')?.errors?.['minlength'].requiredLength}} letras</div>
          </div>

          <div class="col-sm-5 form-group">
            <input [(ngModel)]="userData.street_address" type="text" class="form-control"  placeholder="Calle"
            formControlName="street_address" name="street_address"
            [class.is-invalid]="contactForm.get('street_address').invalid && contactForm.get('street_address').touched"
            id="street_address" class="formulario-input bg-light form-control "
            formControlName="street_address"/>
            <div
            *ngIf="contactForm.get('street_address')?.touched && contactForm.get('street_address')?.errors?.['required'] "
            class="alert alert-danger formulario-error text-center mt-3">*El campo de Calle es obligatorio</div>
            <div
            *ngIf="contactForm.get('street_address')?.touched && contactForm.get('street_address')?.errors?.['minlength'] "
            class="alert alert-danger formulario-error mt-3">*El campo de Calle debe contener al menos
            {{contactForm.get('street_address')?.errors?.['minlength'].requiredLength}} letras</div>
          </div>

        </div>


        <div class="row">

          <div class="col-sm-4 form-group">
            <input [(ngModel)]="userData.number_address" type="text" class="form-control" placeholder="N°"
            formControlName="number_address" name="number_address"
            [class.is-invalid]="contactForm.get('number_address').invalid && contactForm.get('number_address').touched"
            id="number_address" class="formulario-input bg-light form-control "
            formControlName="number_address"/>
            <div
            *ngIf="contactForm.get('number_address')?.touched && contactForm.get('number_address')?.errors?.['required'] "
            class="alert alert-danger formulario-error text-center mt-3">*El campo de Nro de calle es obligatorio</div>
            <div
            *ngIf="contactForm.get('number_address')?.touched && contactForm.get('number_address')?.errors?.['minlength'] "
            class="alert alert-danger formulario-error mt-3">*El campo de Nro de calle debe contener al menos
            {{contactForm.get('number_address')?.errors?.['minlength'].requiredLength}} letras</div>
          </div>

          <div class="col-sm-4 form-group">
            <input [(ngModel)]="userData.floor_apartment" type="text" class="form-control"  placeholder="Piso / Departamento"
            formControlName="floor_apartment" name="floor_apartment"
            [class.is-invalid]="contactForm.get('floor_apartment').invalid && contactForm.get('floor_apartment').touched"
            id="floor_apartment" class="formulario-input bg-light form-control "
            formControlName="floor_apartment"/>
            <div
            *ngIf="contactForm.get('floor_apartment')?.touched && contactForm.get('floor_apartment')?.errors?.['required'] "
            class="alert alert-danger formulario-error text-center mt-3">*El campo de Piso / Departamento es obligatorio</div>
            <div
            *ngIf="contactForm.get('floor_apartment')?.touched && contactForm.get('floor_apartment')?.errors?.['minlength'] "
            class="alert alert-danger formulario-error mt-3">*El campo de Piso / Departamento debe contener al menos
            {{contactForm.get('floor_apartment')?.errors?.['minlength'].requiredLength}} letras</div>
          </div>

          <div class="col-sm-4 form-group">
            <input [(ngModel)]="userData.postal_code" type="text" class="form-control" placeholder="Código postal"
            formControlName="postal_code" name="postal_code"
            [class.is-invalid]="contactForm.get('postal_code').invalid && contactForm.get('postal_code').touched"
            type="text" id="postal_code" class="formulario-input bg-light form-control "
            formControlName="postal_code"/>
            <div
            *ngIf="contactForm.get('postal_code')?.touched && contactForm.get('postal_code')?.errors?.['required'] "
            class="alert alert-danger formulario-error text-center mt-3">*El campo de Código postal es obligatorio</div>
            <div
            *ngIf="contactForm.get('postal_code')?.touched && contactForm.get('postal_code')?.errors?.['minlength'] "
            class="alert alert-danger formulario-error mt-3">*El campo de Código postal debe contener al menos
            {{contactForm.get('postal_code')?.errors?.['minlength'].requiredLength}} letras</div>
          </div>

        </div>

        <div class="row" >

          <div class="col-6 form-group">
            <input [(ngModel)]="userData.email" type="email" class="form-control" placeholder="Dirección de email"
            formControlName="email" name="email"
                  [class.is-invalid]="contactForm.get('email').invalid && contactForm.get('email').touched"
                  id="email" class="formulario-input bg-light form-control "
                  formControlName="email"/>
                  <div
                  *ngIf="contactForm.get('email')?.touched && contactForm.get('email')?.errors?.['required'] "
                  class="alert alert-danger formulario-error text-center mt-3">*El campo de Email es obligatorio</div>
                  <div
                  *ngIf="contactForm.get('email')?.touched && contactForm.get('email')?.errors?.['minlength'] "
                  class="alert alert-danger formulario-error mt-3">*El campo de Email debe contener al menos
                  {{contactForm.get('email')?.errors?.['minlength'].requiredLength}} letras</div>
          </div>

          <div class="col-6 form-group">
            <select name="payment_type_id" id="payment_type_id" class="form-control" formControlName="payment_type_id">
              <option value="none" disabled hidden>Método de pago</option>
              <option *ngFor="let method of paymentMethods" [value]="method.id">{{ method.name }}</option>
            </select>
          </div>

        </div>

        <button (click)="finalizarCompra()" class="btn-registro mt-3 mb-2"><b>FINALIZAR ORDEN</b></button>
      </form>
    </div>
  </div>
</section>
