<div class="fondo-gris pt-3 pb-5">
  <div class="container">
    <p class="textoTitular">Preguntas frecuentes</p>
    <div class="accordion pt-4 pb-4" id="miAcordeon">

      <div class="accordion-item" style="background-color: white; border: none;">
        <h2 class="accordion-header" id="headingOne">
          <button class="accordion-button collapsed" type="button" style="background-color: white; border: none; box-shadow: none;" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            <i class="preguntaDelTitulo">¿Cómo y cuándo pago mi factura?
            </i>
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#miAcordeon">
          <div class="accordion-body">
            Luego de realizar tu orden, nuestro punto de venta se pondrá en contacto con vos para enviarte la factura y los medios de pagos disponibles. <br> <br>
            Las facturas de abonan siempre dentro del plazo de vencimiento que figura en tu factura, podés abonar de las siguientes maneras
            Una vez que hayas realizado el pago, puedes ingresar en tu panel desde la home y cargar el comprobante de pago correspondiente. <br> <br>
            El cliente ingresa a su panel y genera la orden<br> <br>
            El punto de venta le envía la factura por mail y whatsapp.<br> <br>
            El cliente paga la factura.<br> <br>
            El punto de venta despacha la compra.<br> <br>
            En el plazo de 48 hs a 72 hs la recibirás en tu domicilio. <br>

          </div>
        </div>
      </div>

      <div class="accordion-item" style="background-color: white; border: none;">
        <h2 class="accordion-header" id="headingTwo">
          <button class="accordion-button collapsed" type="button" style="background-color: white; border: none; box-shadow: none;" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
            <i class="preguntaDelTitulo">¿Cómo es el envío de mi compra?</i>
          </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#miAcordeon">
          <div class="accordion-body">
            Luego de realizar tu pago te enviaremos tu compra a tu domicilio o  podes retirar tu compra por el punto de venta de REPUESTOSCELU mas cercano a tu domicilio
          </div>
        </div>
      </div>

      <div class="accordion-item" style="background-color: white; border: none;">
        <h2 class="accordion-header" id="headingTres">
          <button class="accordion-button collapsed" type="button" style="background-color: white; border: none; box-shadow: none;" data-bs-toggle="collapse" data-bs-target="#collapseTres" aria-expanded="true" aria-controls="collapseTres">
            <i class="preguntaDelTitulo">¿Qué datos necesito para realizar mi compra?</i>
          </button>
        </h2>
        <div id="collapseTres" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#miAcordeon">
          <div class="accordion-body">
            Nombre y apellido o razón social. Tipo y número de documento. Provincia, ciudad, dirección, código postal y teléfono. Mail y algún dato adicional que te parezca útil.
          </div>
        </div>
      </div>

      <div class="accordion-item" style="background-color: white; border: none;">
        <h2 class="accordion-header" id="headingCuatro">
          <button class="accordion-button collapsed" type="button" style="background-color: white; border: none; box-shadow: none;" data-bs-toggle="collapse" data-bs-target="#collapseCuatro" aria-expanded="true" aria-controls="collapseCuatro">
            <i class="preguntaDelTitulo">¿Cómo recupero o cambio mi contraseña?</i>
          </button>
        </h2>
        <div id="collapseCuatro" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#miAcordeon">
          <div class="accordion-body">
            Cliqueando el botón Ingresar, para entrar a tu cuenta, tenés la opción de cambiar la contraseña por cualquier motivo. Una vez solicitado el cambio te enviaremos un mail para continuar con el proceso. Recordá no entregar tu contraseña a nadie. Solo usala para ingresar a tu cuenta/panel.
          </div>
        </div>
      </div>

      <div class="accordion-item" style="background-color: white; border: none;">
        <h2 class="accordion-header" id="headingCinco">
          <button class="accordion-button collapsed" type="button" style="background-color: white; border: none; box-shadow: none;" data-bs-toggle="collapse" data-bs-target="#collapseCinco" aria-expanded="true" aria-controls="collapseCinco">
            <i class="preguntaDelTitulo">¿Qué ventajas tengo por seguir las redes sociales de RepuestosCelu?</i>
          </button>
        </h2>
        <div id="collapseCinco" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#miAcordeon">
          <div class="accordion-body">
            A través de nuestras redes sociales te enterarás al instante de nuestras ofertas, lanzamientos, flash sales, formas de pago, nuevas marcas y productos. Además habrá sorteos y precios especiales. Integra la red online REPUESTOSCELU para obtener más beneficios.
          </div>
        </div>
      </div>

      <div class="accordion-item" style="background-color: white; border: none;">
        <h2 class="accordion-header" id="headingSeis">
          <button class="accordion-button collapsed" type="button" style="background-color: white; border: none; box-shadow: none;" data-bs-toggle="collapse" data-bs-target="#collapseSeis" aria-expanded="true" aria-controls="collapseSeis">
            <i class="preguntaDelTitulo">¿Cuál es la  política de garantía?</i>
          </button>
        </h2>
        <div id="collapseSeis" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#miAcordeon">
          <div class="accordion-body">
            La vigencia de la garantía se establece a partir de la fecha de emisión de la factura de venta del artículo o a partir de que el consumidor (primer consumidor /adquiriente) disponga del producto en sus manos, según corresponda. <br>
            La garantía no incluye partes plásticas, ni vidrios, ni pintura, luego de haberlo recibido conforme y sin desperfecto de fábrica. <br>
            Se pierde la garantía del artículo, si se presentare cualquiera de las siguientes condiciones: <br>
            a). Si la persona o institución no autorizada previamente por REPUESTOSCELU, ha reparado o tratado de reparar el artículo bajo garantía; <br>
            b). Daños causados por descargas eléctricas o altos voltajes. <br>
            c) Por causa de instalaciones inadecuadas, ya sea de cables, de transmisión de data, visual o electrónica. Cuando el cliente no observó las condiciones de instalación contenidas en la etiqueta o el Manual de Instalación y funcionamiento del artículo. <br>
            d) Hacerle modificaciones al artículo sin haber sido autorizadas por REPUESTOSCELU.<br>
            e) Que el artículo haya sido expuesto a humedad, inundaciones u otros tipos de eventos atmosféricos, acaecidos en el lugar donde se encuentra instalado el artículo, para lo cual no fue diseñado.<br>
            f) Por roturas, abolladuras o golpes, causados en posesión del cliente, luego de haberlo recibido conforme y sin desperfecto de fábrica.<br>
            g) Cuando los datos del artículo (modelo, serie u otro tipo de información que identifiquen a producto) sean alternados o no se verifiquen de manera clara y precisa en el cuerpo del artículo, tarjeta de garantía y el número serial que individualiza el bien. <br>
            h) Cuando el artículo esté especificado para uso doméstico y se use en fines industriales o comerciales, condición esta que estará consignada en la tarjeta de garantía. <br>
            i) Cuando el artículo es vendido o traspasado a otro usuario diferente al cual se le facturó originalmente y este nuevo usuario no presenta a REPUESTOSCELU la factura de compra o documentación legible, que comprueba la adquisición legítima del bien o servicio, así como también el original del certificado de garantía.<br>
            4. Solo se harán cambios de artículos por causa de defectos de fábrica, siempre y cuando el cliente notifique a REPUESTOSCELU cinco (5) días posterior a la compra del articulo defectuoso.  <br>
            5. Para obtener el servicio de garantía de los artículos vendidos por REPUESTOSCELU, se deberá entregar conjuntamente con el artículo la tarjeta de garantía y la factura de compra o documentación legible, que comprueba la adquisición legítima del bien o servicio, dentro del periodo de la garantía.<br>

          </div>
        </div>
      </div>

      <div class="accordion-item" style="background-color: white; border: none;">
        <h2 class="accordion-header" id="headingSiete">
          <button class="accordion-button collapsed" type="button" style="background-color: white; border: none; box-shadow: none;" data-bs-toggle="collapse" data-bs-target="#collapseSiete" aria-expanded="true" aria-controls="collapseSiete">
            <i class="preguntaDelTitulo">¿ Cómo devuelvo un producto dañado o fallado?</i>
          </button>
        </h2>
        <div id="collapseSiete" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#miAcordeon">
          <div class="accordion-body">
            Solicitamos que inspeccione todos los productos inmediatamente después de recibirlos en el domicilio que eligió como destinatario o de retirarlos en el punto de venta de REPUESTOSCELU. <br>
            REPUESTOSCELU solo reconoce las garantías que estén atribuidas por las leyes de la República Argentina. Las devoluciones relacionadas con la garantía del fabricante pueden estar sujetas a los términos y condiciones específicos de la garantía del fabricante correspondiente y las políticas de devolución del fabricante correspondientes al producto devuelto. <br>
            Se pierde la garantía del producto, cuando el producto es dañado físicamente debido a:  abuso del usuario y/o manejo inadecuado; intento de reparar, agregarle algo o rehacer el producto, o modificar y/o desfigurar el sello de garantía, el número de serie y/o las etiquetas del fabricante original. La garantía del producto también queda anulada, si falta el número de serie del producto en el momento de la devolución. <br>
            No trate de devolver ningún producto antes de solicitar y recibir un número de RMA (Return Merchandise Authorization) (Autorización de Devolución de Mercancía) del Departamento RMA de REPUESTOSCELU.  Para ello ingrese en su panel de cliente desde la web www.repuestoscelu.com.ar y complete el formulario de RMA o comuníquese con el Departamento RMA  por correo electrónico a info@repuestoscelu.com.ar para obtener más detalles. <br>
            Todas las ventas son finales. REPUESTOSCELU no ofrece reembolsos ni protección de precios. Al devolver cualquier producto a REPUESTOSCELU, usted declara y garantiza que el producto devuelto fue comprado a REPUESTOSCELU, no es falsificado o no conforme, y no viola la Política de garantía y RMA de REPUESTOSCELU. También acepta que REPUESTOSCELU puede probar cualquier producto devuelto para determinar si dicho producto es falsificado, no conforme o si infringe la Política de garantía y RMA de REPUESTOSCELU.  <br>
            En el caso de que REPUESTOSCELU determine, a su sola discreción, que cualquier producto devuelto es falsificado, o, en cierto modo, no es idéntico, o viola la Política de RMA y Garantía de BYMIA, la empresa puede (i) informar dicho problema a cualquier agencia gubernamental o reguladora aplicable o cualquier otro tercero aplicable; (ii) poner en cuarentena dicho producto para realizar más pruebas u otros análisis; y/o (iii) tomar otras medidas que puedan ser requeridas o permitidas por la ley aplicable.

          </div>
        </div>
      </div>

    </div>
  </div>
</div>
