<div class="fondo-gris pt-3 pb-5">
  <div class="container">
    <p class="textoTitular">Preguntas frecuentes</p>
    <div class="accordion pt-4 pb-4" id="miAcordeon">

      <div class="accordion-item" style="background-color: white; border: none;">
        <h2 class="accordion-header" id="headingOne">
          <button class="accordion-button collapsed" type="button" style="background-color: white; border: none; box-shadow: none;" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            <i class="preguntaDelTitulo">Pregunta 1</i>
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#miAcordeon">
          <div class="accordion-body">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illo modi, alias repellendus in placeat ducimus porro doloremque obcaecati saepe ut fugit quaerat amet perferendis debitis consequuntur odio maiores impedit quia vero tempora exercitationem vitae suscipit. Dolore esse quas nemo obcaecati.
          </div>
        </div>
      </div>

      <div class="accordion-item" style="background-color: white; border: none;">
        <h2 class="accordion-header" id="headingTwo">
          <button class="accordion-button collapsed" type="button" style="background-color: white; border: none; box-shadow: none;" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
            <i class="preguntaDelTitulo">Pregunta 2</i>
          </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#miAcordeon">
          <div class="accordion-body">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illo modi, alias repellendus in placeat ducimus porro doloremque obcaecati saepe ut fugit quaerat amet perferendis debitis consequuntur odio maiores impedit quia vero tempora exercitationem vitae suscipit. Dolore esse quas nemo obcaecati.
          </div>
        </div>
      </div>

      <div class="accordion-item" style="background-color: white; border: none;">
        <h2 class="accordion-header" id="headingTres">
          <button class="accordion-button collapsed" type="button" style="background-color: white; border: none; box-shadow: none;" data-bs-toggle="collapse" data-bs-target="#collapseTres" aria-expanded="true" aria-controls="collapseTres">
            <i class="preguntaDelTitulo">Pregunta 3</i>
          </button>
        </h2>
        <div id="collapseTres" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#miAcordeon">
          <div class="accordion-body">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illo modi, alias repellendus in placeat ducimus porro doloremque obcaecati saepe ut fugit quaerat amet perferendis debitis consequuntur odio maiores impedit quia vero tempora exercitationem vitae suscipit. Dolore esse quas nemo obcaecati.
          </div>
        </div>
      </div>

      <div class="accordion-item" style="background-color: white; border: none;">
        <h2 class="accordion-header" id="headingCuatro">
          <button class="accordion-button collapsed" type="button" style="background-color: white; border: none; box-shadow: none;" data-bs-toggle="collapse" data-bs-target="#collapseCuatro" aria-expanded="true" aria-controls="collapseCuatro">
            <i class="preguntaDelTitulo">Pregunta 4</i>
          </button>
        </h2>
        <div id="collapseCuatro" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#miAcordeon">
          <div class="accordion-body">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illo modi, alias repellendus in placeat ducimus porro doloremque obcaecati saepe ut fugit quaerat amet perferendis debitis consequuntur odio maiores impedit quia vero tempora exercitationem vitae suscipit. Dolore esse quas nemo obcaecati.
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
