.fondo-gris{
  background-color: #2e3031;
}

.primer-fondo {
  background-image: url(../../../assets/images/reyes.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0px;
  min-height: 70vh;
  position: relative;
}

.overlay {
  position: absolute; /* Permite ajustar la posición del overlay con respecto al contenedor */
  top: 0; /* Alinea la parte superior del overlay con la parte superior del contenedor */
  left: 0; /* Alinea la parte izquierda del overlay con la parte izquierda del contenedor */
  width: 100%; /* Asegura que el overlay cubra todo el ancho del contenedor */
  height: 100%; /* Asegura que el overlay cubra todo el alto del contenedor */
  background-image: linear-gradient(rgba(14, 13, 13, 0.5), rgba(11, 11, 11, 0.3)); /* Aplica el gradiente al overlay */
}

.separador-vertical {
  border-right: 1px solid #ffffff;
}

@media (min-width: 250px) and (max-width: 1550px) {
  .primer-fondo {
    background-position: center bottom;
  }
}

.textos {
  margin-top: 160px;
}

.header-image {
  max-height: 500px;
}

.titulo-inicial {
  text-shadow: -1px 2px 5px rgba(0,0,0,0.68);
  margin-top: 30px;
}

.parrafo{
  font-size: 20px;
  font-weight: bolder;
  text-shadow: -1px 2px 5px rgba(0,0,0,0.88);
}

.portadaDeck{
    width: 100%;
    max-width: 350px;
    max-height: 200px;
    margin: 10px;
    border: 2px solid black;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.portadaDeck img {
    width: 100%;
    opacity: 0.8;
}

.portadaDeck-overlay {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
}

.button-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

.text-container {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: white;
  display: none;
}

.portadaDeck:hover .button-container{
  display: block;
}

.portadaDeck .text-container {
  display: block;
}



